* {

  color: #999;
}
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}
::selection {
    background: #ff5e99;
    color: #FFFFFF;
    text-shadow: inherit;
}
[role=button] {
  text-decoration: none !important;
}
body {
  margin: 0;
  background-image: url('http://50.21.179.35:8083/fondopagina.jpg');
  font-size: 12px;
  margin-top: 60px!important;
  background-color: #e9eaed;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
}
#main {
  position: relative;
  height: 100%;
  width: 100%;
}
.layout-content {
  margin-bottom: 50px;
}
.badge.badge-custom {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 3.5px 5px;
  font-size: 9px;
  background: #FF5722;
}
.picker__select--year,
.picker__select--month {
  height: auto !important;
}
a {
  color: #337ab7;
  text-decoration: none;
}
a#ForgotPasswordLink {
  color: #337ab7 !important;
  text-decoration: underline !important;
}
hr {
  margin-top: 10px;
  margin-bottom: 5px;
  border-top: 1px dotted #ccc;
}
em {
  font-style: normal;
}
.btn-disabled {
  background-color: #e0e0e0;
  background-image: none;
}
.icon-bar {
  background: white;
}
.navbar-toggle.collapsed {
  border: 1px solid #e5e5e5;
}
.btn-custom {
  border: #000 1px solid;
  font-size: 16px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-custom:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-send {
  color: #FFF;
  background: #005fc1;
  border-color: #FFF;
  background-image: none;
}
.btn-send:hover {
  color: #FFF;
  background: #006cdb;
  border-color: #00c3ec;
  -webkit-box-shadow: 0px -1px 70px -17px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px -1px 70px -17px rgba(0, 0, 0, 0.5);
  box-shadow: 0px -1px 70px -17px rgba(0, 0, 0, 0.5);
}
.btn-following {
  color: #999;
  background-color: #fff;
  background-image: none;
  border-color: #ccc;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  outline: 0px;
}
.btn-following.active i,
.btn-following.active span,
.btn-following.active {
  color: #005fc1;
}
.btn-following:hover {
  background-color: #FFF;
  background-position: inherit;
  color: #999;
  transform: translate(0px, -3px);
  -webkit-box-shadow: 0px 7px 14px -5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 7px 14px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 7px 14px -5px rgba(0, 0, 0, 0.4);
}
.badge-blue {
  background-color: #5191ff !important;
  margin-right: 5px;
  padding: 5px 7px;
}
.delete-img {
  position: absolute;
  padding: 4px 5px;
  cursor: pointer;
  right: 8px;
  top: 8px;
  border-radius: 100%;
  background-color: white;
  border: 1px solid #999;
  color: #b90000;
  z-index: 1;
}
.like { display: inline-block; }
.delete-img:hover {
  background-color: #B90000;
  color: white;
}
.carousel-prev {
  position: absolute;
  left: 0;
  top: 0px;
  height: 100%;
  width: 150px;
}
.carousel-next {
  position: absolute;
  right: 0;
  top: 0px;
  height: 100%;
  width: 150px;
}
.carousel-prev button, .carousel-next button {
  background: transparent;
  border-color: transparent;
  margin-top: 60px;
  visibility: hidden;
}
.carousel-prev:hover button, .carousel-next:hover button {
  visibility: visible;
}
.carousel-prev button:hover,
.carousel-next button:hover,
.carousel-prev button:active,
.carousel-next button:active,
.carousel-prev button:focus,
.carousel-next button:focus {
  outline: none;
}
.background-grey {
  padding: 10px;
  background: #FAFAFA;
  border-radius: 5px;
}
.t24 {
  font-size: 24px;
  margin-right: 5px;
}
.t20 {
  font-size: 20px;
}
.pointer {
  cursor: pointer;
}
.black {
  color: black;
}
.white {
  color: white;
}
.red {
  color: #B90000;
}
.gray {
  color: #999;
}
.phone {
  color: #22b7f2;
}
.color-apdp {
  color: #fc7200;
}
.color-apdp b {
  color: #fc7200;
}
.blue-apdp,
.blue-apdp b {
  color: #00468E;
}
.orange {
  color: #FFCC00;
}
.green {
  color: green;
}
.positive,
.positive i.fa {
  color: #25A25A !important;
}
.neutral,
.neutral i.fa {
  color: #142d8e !important;
}
.negative,
.negative i.fa {
  color: #EE2200 !important;
}
.opacity {
  opacity: .5;
}
.carousel-control.left,
.carousel-control.right {
  opacity: 0;
}
.carousel-control.left:hover,
.carousel-control.right:hover {
  opacity: 1;
}
.tab-content>.active {
  display: inline-block !important;
  width: 100%;
}
.has-error .form-control {
  border-bottom-color: #ef4136 !important;
}
.margin-center {
  margin: 0 auto;
}
.white-space {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.price {
  font-size: 14px;
  display: block;
}
.price b,
.price b sup {
  color: #B90000;
}
.close-img {
  position: absolute;
  top: 10px;
  right: 25%;
  background: #000;
  color: white;
  border-radius: 100%;
  height: 20px;
  width: 20px;
}
.line-vertical {
  width: 2px;
  background-color: #FB8E0A;
  height: 100%;
  float: left;
  height: 40px;
  margin-top: 6px;
}
.line-horizontal {
  margin-top: 10px;
  margin-bottom: 5px;
  border-top: 1px dotted #ccc;
}
.img-profile {
  padding: 0 !important;
  padding-top: 6px !important;
  background: transparent !important;
  background-color: transparent !important;
  height: 40px;
  width: 40px;
  border-radius: 7px;
  width: 100%;
  margin-right: 5px;
}
.img-profile:hover,
.img-profile:active,
.img-profile:focus {
  background: transparent;
  background-color: transparent;
}
.img-profile img {
  max-width: 100% !important;
  max-height: 100%;
  border-radius: 7px;
  cursor: pointer;
  background: white;
  border: #ccc 1px solid;
}
.drop-box {
  position: absolute;
  bottom: 0px;
  left: 34%;
  background: #000;
  color: white;
  border-radius: 100%;
  height: 45px;
}
.drop-box i {
  color: white;
}
.drop-box:hover,
.drop-box:active,
.drop-box:focus {
  outline: 0px transparent;
}
.localities,
.times {
  font-size: 14px;
}
.breadcrumb {
  background: transparent;
  margin-bottom: 0;
}
.times .fa {
  margin-right: 2px;
}
.border-radius-0 {
  border-radius: 0;
}
.margin-0 {
  margin: 0;
}
.alert.alert-warning {
  margin-top: 16px;
  border: 1px dashed;
  color: #8a6d3b;
  background-color: #fcf8e3;
  background-image: none;
}
.alert.alert-warning i {
  color: #8a6d3b;
}
.underline:hover,
.underline:focus,
.underline:active {
  text-decoration: underline;
}
.padding-col-0 {
  padding-left: 0;
  padding-right: 0;
}
.btn-people {
  border-radius: 0;
  color: #fff;
  background-color: #ffb552;
  border-color: #ffe1b8;
  padding-bottom: 15px;
  padding-top: 15px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  border-right: none;
  font-size: 16px;
  outline: 0px;
}
.btn-people:hover,
.btn-people:active,
.btn-people:focus {
  background-color: #ffaa39;
  color: #FFF;
  border: 1px solid #ec8600;
  transform: translate(0px, -2px);
  -webkit-box-shadow: 0px 7px 14px -5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 7px 14px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 7px 14px -5px rgba(0, 0, 0, 0.4);
}
.btn-people i {
  color: white;
}
.btn-business {
  border-radius: 0;
  color: #fff;
  background-color: #00b273;
  border-color: #00cc83;
  padding-bottom: 15px;
  padding-top: 15px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  font-size: 16px;
  outline: 0px;
}
.btn-business i {
  color: white;
}
.btn-business:hover,
.btn-business:active,
.btn-business:focus {
  background-color: #009962;
  color: #FFF;
  border: 1px solid #007f52;
  transform: translate(0px, -2px);
  -webkit-box-shadow: 0px 7px 14px -5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 7px 14px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 7px 14px -5px rgba(0, 0, 0, 0.4);
}
.btn-primary-custom {
  background: #005fc1;
  color: white;
  border-right: 1px solid #005fc1;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  border-right: none;
  font-size: 16px;
  outline: 0px;
}
.btn-primary-custom:hover,
.btn-primary-custom:active,
.btn-primary-custom:focus {
  color: white;
  background-color: #005fc1;
  transform: translate(0px, -2px);
  -webkit-box-shadow: 0px 7px 14px -5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 7px 14px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 7px 14px -5px rgba(0, 0, 0, 0.4);
}
#textAngular-editableFix-010203040506070809.ta-hidden-input {
  display: none;
}
nav.navbar.navbar-fixed-top.navbar-custom {
  background: rgba(255,175,75,1);
  background: -moz-linear-gradient(left,rgba(255,175,75,1) 0,rgba(255,146,10,1) 100%);
  background: -webkit-gradient(left top,right top,color-stop(0,rgba(255,175,75,1)),color-stop(100%,rgba(255,146,10,1)));
  background: -webkit-linear-gradient(left,rgba(255,175,75,1) 0,rgba(255,146,10,1) 100%);
  background: -o-linear-gradient(left,rgba(255,175,75,1) 0,rgba(255,146,10,1) 100%);
  background: -ms-linear-gradient(left,rgba(255,175,75,1) 0,rgba(255,146,10,1) 100%);
  background: linear-gradient(to right,rgba(255,175,75,1) 0,rgba(255,146,10,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a', GradientType=1 );
  border-color: #ccc;
  -webkit-box-shadow: -1px 3px 34px -5px rgba(0,0,0,.75);
  -moz-box-shadow: -1px 3px 34px -5px rgba(0,0,0,.75);
  box-shadow: -1px 3px 34px -5px rgba(0,0,0,.75);
}
nav.navbar.navbar-static-bottom.navbar-footer {
  position: fixed;
  margin-bottom: 0;
  z-index: 1000;
  width: 100%;
  background: #e5e5e5;
  bottom: 0px;
  min-height: 40px;
  padding-top: 8px;
  border-bottom: dashed #999 1px;
  border-top: solid #d8d8d8 1px;
  -webkit-box-shadow: 0 -1px 26px -1px rgba(0,0,0,0.4);
  -moz-box-shadow: 0 -1px 26px -1px rgba(0,0,0,0.4);
  box-shadow: 0 -1px 26px -1px rgba(0,0,0,0.4);
}
.navbar.navbar-fixed-top .container {
  padding: 5px 0;
}
.navbar-brand {
  padding: 5px 15px 5px 15px;
}
.navbar-brand > img {
  height: 100% !important;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#search {
  position: relative;
}
#search .menu-onchange {
  width: 93%;
  margin-left: 12.5px;
}
  .list-img-sugerent {
    width: 60px;
    height: 60px;
    display: inline-block;
    margin-right: 20px;
    border-radius: 10px;
  }
  .dropdown-menu li a {
    color: #999!important;
  }
  .dropdown-menu li a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
  }
  .menu-onchange li a.active,
  .menu-onchange li a:hover {
    background: #0066CC;
    color: #FFFFFF !important;
  }
  .menu-onchange li a.search-more {
    color: #337ab7;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: dashed #999 1px;
    margin-top: 2px;
    cursor: pointer;
  }
  .menu-onchange li a.search-more:hover {
    text-decoration: underline;
    background: transparent;
    color: #999 !important;
  }
  .menu-onchange li a.dividerr {
    text-decoration: none;
    background: transparent;
  }
  .menu-onchange li a.dividerr .title {
    color: black;
  }
  .menu-onchange li a.dividerr:hover {
    text-decoration: none;
    background: transparent;
  }
#navbar-collapse-responsive {
  visibility: hidden;
}
#navbar-collapse-responsive.in {
  display: none !important;
}
.navbar-form {
  width: 35% !important;
}
.navbar-form .form-group {
  width: 88%;
}
.navbar-form[role="search"] input.form-control {
  width: 100% !important;
  border: 0px solid #eee;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.navbar-form input.form-control:hover,
.navbar-form input.form-control:active,
.navbar-form input.form-control:focus {
  outline-color: transparent !important;
  outline-width: inherit !important;
  box-shadow: inherit !important;
}
.navbar-form button.btn {
  background: white;
  background-color: white;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  /*padding-top: 7px;*/
}
.nav.navbar-nav.navbar-right li a {
  color: white;
  background: transparent;
  background-color: transparent;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 5px 0;
  font-size: 16px;
  outline: 0;
  outline-color: transparent;
}
.nav.navbar-nav.navbar-right li a span {
  color: white;
}
.nav.navbar-nav.navbar-right li a:hover {
  color: white;
  background: #FB8E0A;
  background-color: #FB8E0A;
  outline: 0;
  outline-color: transparent;
}
.nav.navbar-nav.navbar-right li a:hover,
.nav.navbar-nav.navbar-right li a:focues,
.nav.navbar-nav.navbar-right li a:active {
  outline: 0;
  outline-color: transparent;
}
.dropdown-menu.OptionUser {
  padding: 0;
}
.dropdown-menu.OptionUser li a {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  margin: 0;
}
.dropdown-menu li a {
  color: #999 !important;
}
.dropdown-menu li a:hover,
.dropdown-menu li.active a:hover {
  background: #ffa02a;
  color: white !important;
}
.dropdown-menu li a:hover span {
  color: white;
}
.dropdown-menu li.active a {
  background: #ffa02a;
  color: white !important;
}
.nav.navbar-nav.navbar-right li i {
  color: white;
  margin-left: 2.5px;
}
.nav.navbar-nav.navbar-right li i:hover {
  color: white;
}
ul.nav.navbar-nav li .dropdown {
  color: white;
  background: transparent;
  background-color: transparent;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 5px 0;
  font-size: 16px;
  /*padding: 10px 15px;*/
}
ul.nav.navbar-nav li .dropdown a {
  padding: 10px 15px;
}
ul.nav.navbar-nav li .dropdown ul.dropdown-menu {
  /*padding: 12px;*/
  min-width: 300px;
}
ul.nav.navbar-nav li .dropdown ul.dropdown-menu li {
  padding: 12px;
}
ul.nav.navbar-nav li .dropdown ul.dropdown-menu li span {
  font-size: 16px;
  color: black;
}
ul.nav.navbar-nav li .dropdown ul.dropdown-menu > form > li > a {
  color: #337ab7;
}
ul.nav.navbar-nav li .dropdown ul.dropdown-menu > form > li > a:hover {
  background: transparent;
  background-color: transparent;
}
ul.nav.navbar-nav li .dropdown ul.dropdown-menu li.text-right a {
  padding: 0;
  font-size: 10px;
}
.btn-login,
.btn-facebook,
.btn-twitter {
  color: white;
  margin-bottom: 5px;
}
.btn-login:hover,
.btn-facebook:hover,
.btn-twitter:hover,
.btn-login {
  color: white !important;
}
.btn-login {
  background-color: #005fc1;
}
.btn-facebook {
  background-color: #3b5998;
  border-right: 1px solid #d8dfea;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  border-right: none;
  font-size: 16px;
  outline: 0px;
}
.btn-facebook i {color:white;}
.btn-facebook:hover {
  background-color: #6d84b4;
  transform: translate(0px, -2px);
  -webkit-box-shadow: 0px 7px 14px -5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 7px 14px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 7px 14px -5px rgba(0, 0, 0, 0.4);
}
.btn-twitter {
  background-color: #00aced;
  border: 1px solid #c0deed;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  border-right: none;
  font-size: 16px;
  outline: 0px;
}
.btn-twitter i {color:white;}
.btn-twitter:hover {
  background-color: #07bbff;
  transform: translate(0px, -2px);
  -webkit-box-shadow: 0px 7px 14px -5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 7px 14px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 7px 14px -5px rgba(0, 0, 0, 0.4);
}
.banner img {
  width: 100%;
  height: 255px !important;
}
.bottom-banner {
  margin-bottom: 25px;
  background-color: #E4E4E4;
  padding: 20px;
  -webkit-box-shadow: 1px 0px 24px -4px rgba(0, 0, 0, 0.50);
  -moz-box-shadow: 1px 0px 24px -4px rgba(0, 0, 0, 0.50);
  box-shadow: 1px 0px 24px -4px rgba(0, 0, 0, 0.50)
}
.bottom-banner h4,
.bottom-banner span {
  color: black;
}
.content-cat,
.content-publish {
  width: 85%;
  margin: 0 auto;
  padding-bottom: 20px;
}
.content-cat .cat-block {
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 2px;
}
.content-cat .cat-block .block-isset {
  background: #00468e;
  border: 1px solid #ccc;
  text-decoration: none;
  display: table;
  width: 100%;
  min-height: 60px;
  padding: 7px 0px;
  color: #FFF;
  font-size: 14px;
  -webkit-box-shadow: 1px 0px 24px -4px rgba(0, 0, 0, 0.90);
  -moz-box-shadow: 1px 0px 24px -4px rgba(0, 0, 0, 0.90);
  box-shadow: 1px 0px 24px -4px rgba(0, 0, 0, 0.90)
}
.content-cat .cat-block .block-isset.sub-cat {
  background: #FFF;
  color: black;
  text-decoration: none;
}
.content-cat .cat-block .block-isset.sub-cat:hover,
.content-cat .cat-block .block-isset.sub-cat.actvie {
  background: #F2F2F2;
  text-decoration: none;
}
.content-cat .cat-block .block-isset.sub-cat .cat-title {
  color: #666;
}
.content-cat .cat-block .block-isset:hover,
.content-cat .cat-block .block-isset.active {
  background: #005fc1;
  text-decoration: none;
}
.content-cat .cat-block .block-isset img {
  margin-left: 10px;
  margin-top: 6px;
}
.content-cat .cat-block .block-isset span {
  padding-right: 8px;
  padding-left: 18px;
  margin-left: 5px;
  color: #FFF;
  text-transform: capitalize;
  display: table-cell;
  vertical-align: middle;
}
.block-img-carousel {
  display: block;
  -webkit-box-shadow: 4px 4px 24px -4px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 4px 4px 24px -4px rgba(0, 0, 0, 0.25);
  box-shadow: 4px 4px 24px -4px rgba(0, 0, 0, 0.25);
  background: #fff;
  z-index: 500;
  border: 1px solid #ccc;
  padding: 5px;
}
.content-shadow-border {
  background: #FFF;
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 10px;
  webkit-box-shadow: 1px 0px 24px -4px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 1px 0px 24px -4px rgba(0, 0, 0, 0.25);
  box-shadow: 1px 0px 24px -4px rgba(0, 0, 0, 0.25)
}
.content-publish .page-header {
  margin-top: 0;
  color: black;
  font-size: 20px;
  margin: 0;
}
.content-publish .page-header .sub-title {
  display: block;
  font-size: 16px;
}
.content-publish .top-publish {

}
.content-publish .top-publish ul.list-top {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
.content-publish .top-publish ul.list-top li {
  margin-top: 10px;
  margin-bottom: 5px;
  border-bottom: 1px dotted #ccc;
  display: flex;
  padding-bottom: 10px;
  padding-top: 10px;
}
.content-publish .top-publish ul.list-top img {
  display: inline-block;
  margin-right: 5px;
  width: 60px;
  height: 60px;
}
.content-publish .top-publish .count-list-top p {
  margin-top: 28%;
  color: #fc7200;
  font-size: 20px;
}
.content-publish .top-publish .title-top {
  font-size: 12px;
  color: #06C;
}
.content-publish .top-publish .rating {
  float: right;
  margin-top: 20px;
}
.content-publish .top-publish .rating i {
  margin-left: 5px;
}
.content-publish .top-publish .page-header {
  font-size: 20px;
  padding: 20px;
}
.content-publish .col-lg-8.col-md-8.col-sm-12 {
  padding-left: 0px;
  padding-right: 5px;
}
.col-lg-4.col-md-4.col-sm-12 {
  padding-left: 5px;
  padding-right: 0px;
}
/*Style View for Publication*/
.filter .header {
  font-size: small;
  font-weight: 600;
  color: #5a5a5a;
  padding-bottom: 10px;
  border-bottom: 1px dotted #ccc;
}
.filter ul.categories,
.filter ul.ubications,
.filter ul.conditions {
  list-style: none;
  padding: 0;
  padding-top: 10px;
  padding-left: 4px;
}
.filter ul.categories li,
.filter ul.ubications li,
.filter ul.conditions li {
  padding: 2px 0;
}
.filter ul.categories li a,
.filter ul.ubications li a,
.filter ul.conditions li a {
  font-size: 11px;
}
.content-publication {
  padding: 10px 0;
}
.content-publication .framework-img {
  position: relative;
  display: block;
}
.content-publication .framework-img a {
  display: block;
  -webkit-box-shadow: 4px 4px 24px -4px rgba(0,0,0,0.25);
  -moz-box-shadow: 4px 4px 24px -4px rgba(0,0,0,0.25);
  box-shadow: 4px 4px 24px -4px rgba(0,0,0,0.25);
  background: #fff;
  z-index: 500;
  border: 1px solid #ccc;
  padding: 5px;
}
.content-publication .framework-img a img {
  border: 1px solid #ccc;
  width: 100%;
  height: 118px;
  object-fit: scale-down;
}
.content-publication .framework-img  .condicion-title-float {
  position: absolute;
  left: 15px;
  top: 8px;
  background: RGBA(0, 0, 0, 0.4);
  padding: 4px;
  font-size: 10px;
}
.content-publication .framework-img  .condicion-title-float span {
  color: white;
}

.content-publication .details-publications {
  word-wrap: break-word;
  margin-top: 5px;
  margin-left: 10px;
  font-size: 16px;
}
.content-publication .details-publications .title b {
  font-size: 15px;
  color: black;
}
.content-publication .details-publications .shop b {
  font-size: 14px;
  color: #06C;
}
.content-publication .details-publications .user {
  font-size: 14px;
  color: #333;
}
.content-publication .details-publications .city {
  font-size: 12px;
  color: #333;
}
.content-publication .details-publications .review {
  font-size: 11px;
  color: #333;
}
.content-publication .details-publications .review i {
  color: #000;
  opacity: 0.5;
}
.content-publication .details-publications2 {
  margin-right: 20px;
}
.content-publication .details-publications2 .price {
  font-size: 20px;
}
.content-publication .details-publications2 .price .times {
  font-size: 16px;
  margin-right: 5px;
  color: #999;
}
.content-publication .details-publications2 .price .times .like {
  display: inline;
  margin-left: 10px;
}
.header.filter-breadcrumb {
  border-bottom: 1px dotted #ccc;
  margin-bottom: 15px;
  padding-bottom: 14px;
}
.like a {
  color: #D8D8D8;
  font-size: 22px;
  opacity: 0.7;
  cursor: pointer;
}
.like a:hover {
  color: #D8D8D8;
  font-size: 22px;
  opacity: 1;
}
.header-profile {
  position: relative;
  max-height: 360px;
}
.header-profile > img {
  height: 300px;
  width: 100%;
  cursor: pointer;
}
.header-profile .following {
  position: absolute;
  bottom: 25px;
  right: 25px;
  z-index: 3;
}
.header-profile .img-profile-name {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px;
  z-index: 2;
}
.header-profile .img-profile-name .img-profile-transform {
  position: absolute;
  transform: translate(-50%,0%);
  width: 180px;
  height: 180px;
  display: inline-block;
  padding: 10px;
  margin: 0 auto;
  background: #FFF;
  -webkit-box-shadow: 4px 4px 24px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 24px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 24px -4px rgba(0, 0, 0, 0.75);
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.header-profile .img-profile-name .img-profile-transform:hover {
  transform: translate(-50%,-10%);
}
.header-profile .img-profile-name .img-profile-transform img {
  margin: 0 auto;
  display: inline-block;
  height: 100%;
  object-fit: contain;
  border: 1px solid #ccc;
  cursor: pointer;
  margin: 0 auto;
  display: inline-block;
  height: 100%;
  object-fit: contain;
}
.header-profile .img-profile-name .img-profile-transform .edit-img-profile {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px;
  padding-top: 10px;
  color: #FFF;
  cursor: pointer;
}
.header-profile .img-profile-name .img-profile-transform:hover .edit-img-profile {
  background-color: rgba(66, 66, 66, 0.8);
  -webkit-box-shadow: inset 4px 4px 45px -20px rgba(255,255,255,1);
  -moz-box-shadow: inset 4px 4px 45px -20px rgba(255,255,255,1);
  box-shadow: inset 4px 4px 45px -20px rgba(255,255,255,1);
  color: white;
}
.header-profile .img-profile-name .img-profile-transform:hover .edit-img-profile span {
  display: inline-block;
  cursor: pointer;
}
.header-profile .img-profile-name .img-profile-transform .edit-img-profile i.fa {
  margin-left: 5px;
  font-size: 18px;
  color: #FFF;
}
.header-profile .img-profile-name .img-profile-transform .edit-img-profile span {
  display: none;
  font-size: 12px;
  -webkit-box-shadow: 1px 0px 24px -4px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 1px 0px 24px -4px rgba(0, 0, 0, 0.25);
  box-shadow: 1px 0px 24px -4px rgba(0, 0, 0, 0.25)
}
.header-profile .img-profile-name h2 {
  color: white;
  text-shadow: 0 0 0.2em #000;
  cursor: default;
  font-size: 20px;
  color: #FFF;
}
.header-profile .img-profile-name span {
  text-shadow: 0 0 0.2em #000;
  cursor: default;
  font-size: 16px;
  color: #FFF;
}
.header-profile .nav-profile {
  padding: 0;
  background: #FFF;
}
.header-profile nav.navbar {
  margin-bottom: 0;
  z-index: 1;
  padding: 0;
}
.header-profile .img-cover-edit {
  cursor: pointer;
  position: absolute;
  top: 2%;
  left: 0;
  width: auto;
  padding: 10px;
  padding-top: 10px;
  margin-left: 1%;
}
.header-profile .img-cover-edit.hover {
  background-color: rgba(66, 66, 66, 0.6);
  -webkit-box-shadow: inset 4px 4px 45px -20px rgba(255,255,255,1);
  -moz-box-shadow: inset 4px 4px 45px -20px rgba(255,255,255,1);
  box-shadow: inset 4px 4px 45px -20px rgba(255,255,255,1);
  color: white;
  border: 1px solid #FFF;
}
.header-profile .img-cover-edit.hover span {
  display: inline-block;
}
.header-profile .img-cover-edit i.fa {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 22px;
  color: white;
}
.header-profile .img-cover-edit span {
  display: none;
  margin-left: 5px;
  font-size: 14px;
  -webkit-box-shadow: 1px 0px 24px -4px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 1px 0px 24px -4px rgba(0, 0, 0, 0.25);
  box-shadow: 1px 0px 24px -4px rgba(0, 0, 0, 0.25);
  color: white;
}
.header-profile .network-link {
  position: absolute;
  top: 15px;
  right: 25px;
  background: rgba(250,250,250,0.8);
  padding: 5px;
}
.network-link {
  /* padding-top: 10px; */
}
.network-link ul {
  list-style: none;
  padding-left: 0;
}
.network-link ul li {
  display: inline-block;
}
.network-link ul li a img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 10px;
  opacity:  .4;
}
.network-link ul li a.active img {
  opacity: 1;
}
.header-profile .network-link ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}
.header-profile .network-link ul li {
  display: inline-block;
  padding: 0 3px;
}
.header-profile .network-link ul li img {
  width: 25px;
  height: 25px;
  border-radius: 5px;
  opacity: 0.4;
  cursor: pointer;
  margin-right: inherit;
}
.header-profile .network-link ul li img.active {
  opacity: 1;
}
#navbar-profile {
  border: 1px dotted #ccc;
}
#navbar-profile .container-fluid {
  padding: 0;
}
#navbar-profile .container-fluid ul li a {
  padding: 15px 30px 15px 30px;
  font-size: 14px;
  border-left: 1px dotted #ccc;
  font-weight: 700;
  color: #0059BC;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
#navbar-profile .container-fluid ul li a:last-child {
  border-right: 1px dotted #ccc;
}
#navbar-profile .container-fluid ul li a:hover,
#navbar-profile .container-fluid ul li.active a {
  background: #fff;
  background-color: #FFF;
  color: #005fc1;
  /*border-right: 1px solid #ccc;*/
  transform: translate(0px, -3px);
  -webkit-box-shadow: 0px 7px 14px -5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 7px 14px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 7px 14px -5px rgba(0, 0, 0, 0.4);
}
#navbar-profile .container-fluid ul li.active a {
  font-weight: bold;
}
#publication-user {
  margin-top: 80px;
  padding-top: 30px;
}
.navbar-form[role="filter"] {
  width: auto !important;
}
.navbar-form[role="filter"] .btn-group {
  margin-right: 5px;
}
.navbar-form[role="filter"] .input-group {
  margin-right: 5px;
}
.navbar-form[role="filter"] span.input-group-btn button.btn.btn-default {
  border-right-color: transparent;
  border-radius: 4px !important;
}
.navbar-form[role="filter"] input.form-control {
  border-left-color: transparent;
}
.navbar-form[role="filter"] input.form-control:hover,
.navbar-form[role="filter"] input.form-control:focus,
.navbar-form[role="filter"] input.form-control:active {
  outline: transparent;
  outline-width: 0;
  border-color: #CCC;
  border-left-color: transparent;
}
.navbar-form[role="filter"] a {
  padding: 15px;
}
.modal-body {
  padding-bottom: 15px;
  overflow: auto;
  max-height: 600px;
}
.modal-header {
  border-bottom: 0;
}
ng-croppie .cr-boundary {
  width: 100% !important;
  height: 300px !important;
}

.blue .modal-header {
  padding: 15px;
  color: #FFF;
  background: rgba(0,195,236,1);
  background: -moz-linear-gradient(top,rgba(0,195,236,1) 0,rgba(0,70,142,1) 100%);
  background: -webkit-gradient(left top,left bottom,color-stop(0,rgba(0,195,236,1)),color-stop(100%,rgba(0,70,142,1)));
  background: -webkit-linear-gradient(top,rgba(0,195,236,1) 0,rgba(0,70,142,1) 100%);
  background: -o-linear-gradient(top,rgba(0,195,236,1) 0,rgba(0,70,142,1) 100%);
  background: -ms-linear-gradient(top,rgba(0,195,236,1) 0,rgba(0,70,142,1) 100%);
  background: linear-gradient(to bottom,rgba(0,195,236,1) 0,rgba(0,70,142,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c3ec', endColorstr='#00468e', GradientType=0 );
  -webkit-box-shadow: 0 5px 21px -2px rgba(0,0,0,.5);
  -moz-box-shadow: 0 5px 21px -2px rgba(0,0,0,.5);
  box-shadow: 0 5px 21px -2px rgba(0,0,0,.5);
}
.blue .modal-header span {
  display: inline-block;
  font-size: 20px;
  color: white;
}
.blue .modal-header .close {
  font-size: 26px;
  color: white;
  margin-top: 6px;
}
#info .input-group[role="edit-form"] {
  padding: 10px;
}
#info .input-group[role="edit-form"]:hover {
  background: #F7F7F7;
}
#info .input-group[role="edit-form"] span.input-group-btn button {
  padding: 10px 16px;
  background: white;
  border-color: #ccc;
  cursor: default;
  width: 55px;
}
#info .input-group[role="edit-form"] span.input-group-btn button:focus,
#info .input-group[role="edit-form"] span.input-group-btn button:hover,
#info .input-group[role="edit-form"] span.input-group-btn button:active {
  outline: none;
  cursor: pointer;
}
#info .input-group[role="edit-form"] span.input-group-btn button i.fa {
  font-size: 20px;
  color: #333;
}
#info .input-group[role="edit-form"] input.form-control {
  height: 44px;
  border-left-color: #ccc;
  border-right: transparent;
  box-shadow: none;
  background: transparent;
  background-color: transparent;
  background-image: transparent;
  border-color: transparent;
}
#info .input-group[role="edit-form"] input.form-control[disabled] {
 background: transparent;
 cursor: default;;
}
#info .input-group[role="edit-form"] .btn-close {
  position: absolute;
  top: 20px;
  right: 16px;
  z-index: 3;
  padding: 2px 6px;
}
#info .input-group[role="edit-form"] .btn-close:hover {
  background: #ccc;
  border-radius: 50%;
}
#info .about-me,
#info .album,
#info .reputation {
  margin-top: 20px;
  padding: 20px;
}
#info .album .title
#info .reputation .title {
  margin-bottom: 16px;
}
#info .album .title span b,
#info .reputation .title span b {
  color: black;
  font-size: 16px;
}
#info .album .album-photo {
  border: #ccc 1px solid;
  transition: all .5s ease-in-out;
}
#info .album .album-photo:hover {
  background: rgba(0,0,0,.6);
}
.reputation p {
  background: #FAFAFA;
  padding: 10px;
  font-size: 16px;
  margin-top: 6px;
}
.reputation .green,
.reputation .red,
.reputation .blue {
  margin-right: 10px;
  margin-left: 10px;
}
.reputation .green span,
.reputation .red span,
.reputation .blue span {
  color: #333;
}
.reputation .green i {
  color: #093;
}
.reputation .red  i {
  color: #F00;
}
.reputation .blue i {
  color: #142d8e;
}
.reputation a {
  display: block;
  margin: 10px 0;
}
#publication {
  background-color: rgba(255,255,255,0.4);
  border: #E4E4E4 1px solid;
  padding: 20px;
}
#publication .content {
  padding-bottom: 30px;
  padding-top: 20px;
  margin: 20px;
  background: #FFF;
  border: 1px solid #ccc;
}
#publication .content-details {
  margin: 20px;
}
#publication .center-block .title {
  margin-top: 10px;
  margin-bottom: 10px;
}
#publication .center-block .title span.subtitle {
  font-size: 30px;
  color: black;
}
#publication .center-block .title span.review {
  font-size: 16px;
  color: #000;
}
#publication .center-block .title span.review i {
  color: #000;
}
.price.red {
  font-size: 20px;
  display: block;
  text-align: left;
}
#publication .check-warranty {
  font-size: 16px;
  margin: 6px 0;
}
#publication .link-social-like {
  display: inline;
  padding: 10px;
}
#publication .link-social-like a {
  padding: 10px 6px;
  font-size: 24px;
}
#publication.checkbox .row.center-block {
  background: #FFF;
  border: 1px solid #ccc;
}
#publication.checkbox .row.center-block .page-header {
  background: #fafafa;
  border: #ccc 1px solid;
  margin-bottom: 35px;
}

#gallery-collection .carousel-indicators {
  left: inherit;
  bottom: inherit;
  position: inherit;
  width: 100%;
  margin: 0;
  padding-top: 0px;
}
#gallery-collection .carousel-indicators li,
#gallery-collectionZoom .carousel-indicators li {
  width: 55px;
  height: 55px;
  padding: 2px;
  border-radius: 4px;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  transition: all .5s;
}
#gallery-collection .carousel-indicators li:hover,
#gallery-collectionZoom .carousel-indicators li:hover,
#gallery-collection .carousel-indicators li.active,
#gallery-collectionZoom .carousel-indicators li.actvie {
  border-color: rgba(0,0,0,.5);
}
#gallery-collection .carousel-indicators li img,
#gallery-collectionZoom .carousel-indicators li img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}
#gallery-collection .carousel-inner {
  height: 300px;
}
#gallery-collection .carousel-inner .item {
  height: 100%;
}
#gallery-collection .carousel-inner .item img,
#gallery-collectionZoom .carousel-inner .item img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  cursor: pointer;
}
#gallery-collection .carousel-control.left,
#gallery-collection .carousel-control.right,
#gallery-collectionZoom .carousel-control.left,
#gallery-collectionZoom .carousel-control.right {
  background-image: none;
  top: 50%;
}
#gallery-collection .carousel-control.left span,
#gallery-collection .carousel-control.right span,
#gallery-collectionZoom .carousel-control.left span,
#gallery-collectionZoom .carousel-control.right span {
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  line-height: 1.2;
  border-radius: 100%;
}
#gallery-collection .carousel-control.left span:hover,
#gallery-collection .carousel-control.right span:hover,
#gallery-collectionZoom .carousel-control.left span:hover,
#gallery-collectionZoom .carousel-control.right span:hover {
  background: rgba(0,0,0,.5);
  color: white;
}
.reputation {
  border: #ccc 1px solid;
  background: #FAFAFA;
  padding: 15px;
  -webkit-box-shadow: 1px 0px 24px -4px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 1px 0px 24px -4px rgba(0, 0, 0, 0.25);
  box-shadow: 1px 0px 24px -4px rgba(0, 0, 0, 0.25)
}
#box-comments {}
#box-comments .text-comments,
.box-comments .text-comments {
  background: #D8DFEA;
  padding: 20px;
  border: 1px;
}
#box-comments .text-comments .textarea,
.box-comments .text-comments .textarea {
  background: #fff;
}
#box-comments .text-comments .textarea textarea,
.box-comments .text-comments .textarea textarea {
  background-size: 25px 25px;
  background-position: 10px 12px;
  background-color: #FFF;
  display: block;
  width: 100%;
  padding: 15px 45px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #666;
  border: none;
  border-radius: 0px;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow -webkit-transition:all 0.9s ease-out;
  -moz-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  text-align: left;
  resize: none;
  height: 55px;
  outline: none;
}
#box-comments .text-comments .textarea textarea.active,
.box-comments .text-comments .textarea textarea.active {
  height: 144px !important;
}
#box-comments .text-comments .textarea p,
.box-comments .text-comments .textarea p {
  margin-right: 10px;
  font-size: 10px;
}
#box-comments .box-commentss,
.box-comments .box-commentss {
  border-top: 1px solid #CCC;
  margin-left: 20px;
  margin-right: 20px;
}
#box-comments .box-comments .last-cuestion,
.box-comments .box-commentss .last-cuestion {
  background: #FFF;
  margin-top: -20px;
  padding: 10px;
  margin-right: 40px;
}
#box-comments .box-comments p,
.box-comments .box-commentss p {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 14px;
  border-bottom: #ccc 1px dashed;
}
#ZoomView .modal-content {
  background: transparent;
  box-shadow: none;
  border-color: transparent;
}
#ZoomView .modal-content .modal-header .close {
  color: white;
  font-size: 45px;
}
#ZoomView .modal-content .modal-body {
  overflow: hidden;
}
#gallery-collectionZoom .carousel-indicators {
  position: relative;
  bottom: inherit;
  left: inherit;
  width: 100%;
  padding-left: inherit;
  margin-left: inherit;
  margin-top: 10px;
}
ul#accordion {
  width: 100%;
  padding: 0;
  list-style: none;
  margin: 0 0 0 0;
  background-color: rgba(255,255,255,1);
  border: #E4E4E4 1px solid;
  -webkit-box-shadow: 0px 1px 41px -1px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 1px 41px -1px rgba(0,0,0,0.5);
  box-shadow: 0px 1px 41px -1px rgba(0,0,0,0.5);
}
ul#accordion li a {
  cursor: pointer;
  display: block;
  padding: 15px 15px 15px 10px;
  color: #4D4D4D;
  font-size: 12px;
  border-bottom: 1px dotted #CCC;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
ul#accordion li a {
  color: #4D4D4D;
  text-decoration: none;
}
ul#accordion li a i {
  font-size: 18px;
  color: #595959;
  margin-right: 8px;
  -webkit-transition: all 0.4s ease; */
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
ul#accordion li a span.fa {
  transition: all .4s ease;
  margin-top: 5px;
  float: right;
  color: #595959;
}
ul#accordion li a.active span.fa {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
ul#accordion li a b {
  line-height: 1.5;
  color: #595959;
}
ul#accordion li ul {
  background: #FAFAFA;
  font-size: 12px;
  padding: 0;
  list-style: none;
}
ul#accordion li ul li {
  border-bottom: 1px dotted #ccc;
  color: #FFF;
}
ul#accordion li ul li a {
  color: #4D4D4D;
  text-decoration: none;
  display: block;
  text-decoration: none;
  padding: 12px;
  padding-left: 42px;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  background: #E5E5E5;
}
ul#accordion li ul li a:hover,
ul#accordion li ul li a:active,
ul#accordion li ul li a:focus,
ul#accordion li ul li a.active {
  background: #E5E5E5;
  color: #000;
  -webkit-box-shadow: 0px 5px 13px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 5px 13px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 5px 13px 0px rgba(0,0,0,0.25);
  transform: scale(1.05,1);
}
.thumbnail a img {
  width: 120px;
  height: 118px;
  border: 1px solid #ccc;
  padding: 2.5px;
}
.thumbnail .caption {
  margin-top: 20px;
  margin-bottom: 20px;
}
.thumbnail .caption > a > span {
  font-size: 12px;
  color: #06C;
  font-weight: bold;
}
.thumbnail .caption > small {
  display: block;
}
.thumbnail .caption .following {
  margin-top: 20px;
}
#summary,
#sales {

}
#summary .title,
#sales .title {
  padding: 10px;
  font-size: 20px;
}
#summary .subtitle,
#sales .subtitle {
  background: #F2F2F2;
  padding: 10px;
  font-size:  18px;
}
#summary .item,
#sales .item {
  font-size: 16px;
}
#summary .item > span,
#sales .item > span {
  margin-left: 20px;
}
#summary .item > span > span.badge.badge-publicar {
  background: #06c;
  width: 40px;
  text-align: center;
}
#summary .item > span > span.badge.badge-publicar-before {
  background: #ccc;
}
#summary .item > span > span.badge.badge-publicar-before + span  {
  margin-left: 10px;
  color: #545454;
}
#summary .item > span > a > span {
  margin-left: 10px;
  color: #337ab7;
}
#summary .interline,
#sales .interline {
  margin-top: 10px;
  margin-bottom: 10px;
}
#summary .tab-content .interline,
#sales .tab-content .interline {
  margin-top: 5px;
  margin-bottom: 5px;
}
#sales .filter-search {
  background: #f2f2f2;
  padding: 15px;
}
#sales .text-comments-last {
  margin-left: 20px;
  margin-right: 20px;
  /* border-bottom: 1px dashed #ccc; */
}
/* #sales .network-link {
  margin-left: 100px;
  margin-right: 40px;
} */
#sales .network-link {
  padding-top: 10px;
}
#sales .network-link > div {
  margin: 5px 0;
}
#sales .network-link > div > img.img-responsive {
  width: 52px;
  height: 52px;
  padding: 0;
  margin: 0 15px;
  border: 1px solid #ccc;
}
#sales .network-link > div > button.btn-networkLink {
  color: #005fc1;
  background-color: #fff;
  border-color: #ccc;
  padding: 15px;
  text-align: left;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  font-size: 14px;
  outline: 0px;
  border-radius: 0px;
}
#sales .network-link > div > button.btn-networkLink:hover,
#sales .network-link > div > button.btn-networkLink:focus,
#sales .network-link > div > button.btn-networkLink:active {
  background-color: #FFF;
  color: #005fc1;
  border-right: 1px solid #ccc;
  transform: translate(0px, -3px);
  -webkit-box-shadow: 0px 7px 14px -5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 7px 14px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 7px 14px -5px rgba(0, 0, 0, 0.4);
}
#sales .network-link > div > span {
  display: inline-block;
  /* margin-left: 10px; */
  vertical-align: middle;
  /* margin-top: 6px; */
}
#sales .network-link > div > span > img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 6px;
}
.btn.btn-default {
  background: white;
  background-color: white;
  border-radius: 0;
}
#add .modal-body {
  margin-left: 20px;
  margin-right: 20px;
}
#add .modal-body .content-shadow {
  background: #FFF;
  border: 1px solid #ccc;
  -webkit-box-shadow: -1px 3px 17px 0px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: -1px 3px 17px 0px rgba(0, 0, 0, 0.34);
  box-shadow:-1px 3px 17px 0px rgba(0, 0, 0, 0.34);
}
#add .modal-body .content-message {
  width: 100%;
  padding: 20px;
}
#add .modal-body .content-message .manager .redsocial {
  position: relative;
}
#add .modal-body .content-message .manager .redsocial img {
  margin-bottom: 5px;
  width: 45px;
  height: 45px;
  border: 1px solid #ccc;
  -webkit-transition: all 0.7s ease-out;
  -moz-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
#add .modal-body .content-message .manager .redsocial  i.fa {
  position: absolute;
  top: 2px;
  right: 40px;
}
#add .modal-body .content-message .manager .redsocial .text-center {
  margin-bottom: 5px;
}
#add .modal-body .content-message textarea {
  display: block;
  width: 100%;
  padding: 5px 8px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #666;
  background-image: none;
  border: none;
  border-radius: 0px;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow -webkit-transition:all 0.9s ease-out;
  -moz-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  transition: all 0.9s ease;
  resize: none;
  background: #FFFF;
  height: 250px;
}
#add .modal-body .content-shadow #upload-img .panel-body {
  display: block;
  position: relative;
  background: #FFF;
  width: 100%;
  padding: 30px;
  margin-top: 1px;
}
#add .modal-body .content-shadow #upload-img .panel-body .drop-down {}
#add .modal-body .content-shadow #upload-img .panel-body .drop-down span {
  padding: 10px;
}
#add .modal-body .content-shadow #upload-img .panel-body .drop-down button {
  border: none;
  padding: 0;
  background: transparent;
}
#add .modal-body .content-shadow #upload-img .panel-body .drop-down img.camera-img + i {
  position:absolute;
  top: 10px;
  right: 10px;
  color: #B90000;
}
#add .modal-body .content-shadow #upload-img .panel-body .drop-down img.camera-img {
  height: 100px;
  width: 100px;
  padding: 10px;
  border: 1px dashed #999;
  cursor: pointer;
  margin-bottom: 10px;
  margin-left: 8px;
  margin-right: 8px;
  object-fit: scale-down;
}
.dropdown.mutliSelectt a {
  color: #fff !important;
}
.dropdown.mutliSelectt .dd,
.dropdown.mutliSelectt .dt {
  margin: 0px;
  padding: 0px;
}
.dropdown.mutliSelectt ul {
  margin: -1px 0 0 0;
}
.dropdown.mutliSelectt dd {
  position: relative;
}
.dropdown.mutliSelectt a,
.dropdown.mutliSelectt a:visited {
  color: #fff;
  text-decoration: none;
  outline: none;
  font-size: 12px;
}
.dropdown.mutliSelectt .dt a {
  display: block;
  width: 100%;
  height: 34px;
  padding: 0px 12px;
  line-height: 1.1;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.dropdown.mutliSelectt .dt a span,
.dropdown.mutliSelectt .multiSel span {
  color: black;
  cursor: pointer;
  display: inline-block;
  padding: 0 3px 2px 0;
}
.dropdown.mutliSelectt .dd ul {
  background-color: #4F6877;
  border: 0;
  color: #fff;
  display: none;
  left: 0px;
  padding: 2px 15px 2px 5px;
  width: 280px;
  list-style: none;
  height: 100px;
  overflow: auto;
}
.dropdown.mutliSelectt span.value {
  display: none;
}
.dropdown.mutliSelectt .dd ul li {
  padding: 5px;
  display: block;
  text-align: left;
}
.dropdown.mutliSelectt .dd ul li a:hover {
  background-color: #fff;
}
.div-img-rotate {
  overflow: hidden;
  height: 150px;
  width: 150px;
  margin-top: -30px;
  background: #FFF;
  transform: rotate(10deg);
  -webkit-box-shadow: 10px 10px 15px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 15px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 15px -12px rgba(0, 0, 0, 0.75);
  z-index: 500;
  padding: 5px;
  border: 1px solid #ccc;
  margin-top: -165px;
}
.div-img-rotate img {
  cursor: pointer;
  border: 1px solid #ccc;
}
.border-input {
  padding: 10px 30px;
  border-top: 1px solid #e5e5e5;
}
.border-input-last {
  border-bottom: 1px solid #e5e5e5;
}
.border-out {
  margin: 15px 0;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
.alert {
  border: 1px solid transparent;
  border-radius: 0;
}
.alert.alert-info,
.alert.alert-info i {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
#purchase .content {
  padding: 8px 30px;
}
#purchase .content .content-img {
  width: 180px;
  height: 180px;
  margin-bottom: 5px;
  -webkit-box-shadow: 4px 4px 24px -4px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 4px 4px 24px -4px rgba(0, 0, 0, 0.25);
  box-shadow: 4px 4px 24px -4px rgba(0, 0, 0, 0.25);
  background: #fff;
  z-index: 500;
  border: 1px solid #ccc;
  padding: 5px;
}
#purchase .content .content-img img {
  object-fit: scale-down;
  width: 180px;
  height: 180px;
}
#purchase .content .alert {
  margin-top: 20px;
  margin-bottom: 0;
  padding: 10px 15px;
}
#purchase .quantity {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}
#purchase .quantity input {
  width: 40px;
  height: 25px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}
#purchase span.price {
  display: inline-block !important;
  font-size: 12px;
}
#publish {
  background-color: rgba(255,255,255,0.4);
  border: #E4E4E4 1px solid;
  padding: 20px;
}
#publish .btn-group .btn.active {
  background-color: #FFF;
  font-weight: bolder;
  color: #005fc1;
  border-right: 1px solid #ccc;
  transform: translate(0px, -3px);
  -webkit-box-shadow: 0px 7px 14px -5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 7px 14px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 7px 14px -5px rgba(0, 0, 0, 0.4);
}
#publish .content-animation {
  background: #FFF;
  border: 1px solid #ccc;
  margin-top: 5px;
  padding-bottom: 40px;
  padding-top: 40px;
}
#publish .content-animation .categories {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
#publish .content-animation .categories img {
  margin-bottom: 10px;
  margin-top: 10px;
  opacity: 1;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  cursor: pointer;
  height: 200px;
  object-fit: scale-down;
}
#publish .content-animation .categories.hover:hover {
  opacity: 1;
  transform: translate(0px, 10px);
}
#publish .content-animation .categories .list-hover {
  background: #fafafa;
  border: 1px solid #ccc;
  -webkit-box-shadow: -1px 2px 57px -15px rgba(0,0,0,0.5);
  -moz-box-shadow: -1px 2px 57px -15px rgba(0,0,0,0.5);
  box-shadow: -1px 2px 57px -15px rgba(0,0,0,0.5);
  color: #999;
}
#publish .content-animation .categories .list-hover:hover {
  border-color: #06C;
}
#publish .content-animation .categories .select {
  height: 250px;
  overflow: auto;
  overflow-x: hidden;
  align-items: center;
  background: #fff;
  z-index: 500;
  margin-left: 16px;
  margin-right: 16px;
  padding: 8px 0px 0px 8px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#publish .content-animation .categoires .select:hover {
  border: 1px solid #06C;
  background: #fafafa;
}
#publish .content-animation .categories .select ul {
  padding: 0;
  list-style: none;
}
#publish .content-animation .categories .select ul li a:hover,
#publish .content-animation .categories .select ul li a:active,
#publish .content-animation .categories .select ul li.active a {
  background: #c8c8c8;
}
#publish .content-animation .categories .select ul li a {
  color: #999;
}
#publish .content-animation .categories .list-hover:hover .select ul li a {
  color: black;
}
#publish .content-animation .categories .like-icon {
  width: 120px;
  height: 120px;
  display: inline-block;
  text-align: center;
  margin-top: 10px;
  background: #093;
  border-radius: 100%;
  padding: 28px;
}
#publish .content-animation .categories .like-icon i {
  color: white;
}
#publish .content-animation .subtitle > b {
  font-size: 16px;
}
#publish .content-animation .subtitle .alert,
#publish .subtitle .alert {
  padding: 0;
  margin-top: 8px;
  width: 80%;
  font-size: 12px;
}
#publish .subtitle .alert.alert-info b,
#publish .content-animation .subtitle .alert.alert-info b {
  color: #31708f;
}
#publish .subtitle .alert.alert-warning b,
#publish .content-animation .subtitle .alert.alert-warning b {
  color: #8a6d3b;
}
#publish .subtitle .alert.alert-success b,
#publish .content-animation .subtitle .alert.alert-success b {
  color: #3c763d;
}
#publish .upload-img,
#publish .content-animation .upload-img {
  position: relative;
  height: 100px;
  width: 100px;
  border: 1px dashed #999;
  float: left;
  margin-left: 10px;
  cursor: pointer;
  padding: 10px;
}
#publish .ta-scroll-window,
#publish .ta-scroll-window div[contenteditable="true"] {
  min-height: 350px;
  outline: none;
}
#publish .ta-scroll-window div[contenteditable="true"] h1,
#publish .ta-scroll-window div[contenteditable="true"] h1 b,
#publish .ta-scroll-window div[contenteditable="true"] h2,
#publish .ta-scroll-window div[contenteditable="true"] h2 b,
#publish .ta-scroll-window div[contenteditable="true"] h3,
#publish .ta-scroll-window div[contenteditable="true"] h3 b,
#publish .ta-scroll-window div[contenteditable="true"] h4,
#publish .ta-scroll-window div[contenteditable="true"] h4 b,
#publish .ta-scroll-window div[contenteditable="true"] h5,
#publish .ta-scroll-window div[contenteditable="true"] h5 b,
#publish .ta-scroll-window div[contenteditable="true"] h6,
#publish .ta-scroll-window div[contenteditable="true"] h6 b,
#publish .ta-scroll-window div[contenteditable="true"] p,
#publish .ta-scroll-window div[contenteditable="true"] p b,
#publish .ta-scroll-window div[contenteditable="true"] pre,
#publish .ta-scroll-window div[contenteditable="true"] pre b {
  color: black;
}
#publish .header-custom {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-bottom: none;
  background: #FAFAFA;
  -webkit-box-shadow: 0px 5px 21px -2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 5px 21px -2px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 5px 21px -2px rgba(0, 0, 0, 0.5);
}
#publish .in-publish {
  margin: 40px;
  margin-left: 140px;
  margin-right: 140px;
}
#ZoomView .carousel-inner img {
  min-width: 600px;
  min-height: 350px;
  max-height: 350px;
  max-width: 600px;
  object-fit: scale-down;
}
/* .form-group .form-control {
  border-radius: 0 !important;
} */
.sugerent-nav {
  display: none;
  visibility: hidden;
}
#profile .portada {
  height: 200px;
  background-color: white;
  background-size: 100% 200px;
  background-attachment: fixed;
  background-position: 0 0px;
  background-repeat: no-repeat;
}
#profile .sub-portada {
  position: relative;
  background: #ffa535;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 20px;
}
#profile .sub-portada .profile {
  margin-top: -22%;
  margin-bottom: 15px;
}
#profile .sub-portada .profile div {
  box-shadow: 0 0 2px 0 black;
  border-radius: 100%;
}
#profile .sub-portada .profile div img {
  border: 4px solid white;
  box-shadow: inset 0 0 0px 0px black;
}
#profile .network-link ul {
  margin-bottom: 0;
}
#profile .network-link ul li a img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  border-radius: 10px;
  opacity: .4;
}
#profile .bars {
  position: absolute;
  top: 15px;
  right: 15px;
}
#profile .follow {
  position: absolute;
  top: 15px;
  left: 15px;
  padding-top: 10px;
}
#notification .sub {
  overflow-y: auto;
  max-height: 400px;
  width: 300px;
  /* padding-right: 10px; */
}
#notification .sub li a:hover {
  background: transparent !important;
}
#notification .sub li:hover {
  background: #f5f5f5;
}
#notification .sub li a {
  margin: 0;
}
#notification .sub img {
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
}
#notification .sub .content,
#notification .sub .state {
  display: inline-block;
}
#notification .sub .content {
  vertical-align: middle;
  width: 75%;
  padding-left: 10px;
}
#notification .sub .content h5 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
}
#notification .sub .content small {
  position: relative;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#notification .sub .state {
  vertical-align: top;
}
.top-publish {
  padding-left: 15px;
  padding-right: 15px;
}
.banksaccount {
  background: #FAFAFA;
  border: 1px solid #d8d8d8;
  border-radius: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.banksaccount span.close {
  float: inherit;
  position: absolute;
  right: 25px;
  top: 25px;
}
#sales .img-publish {
  height: 80px;
}
@media screen and (max-width: 768px){
  /* #publication .content-details {
    text-align: center;
  } */
  .background-grey {
    margin: 10px 0;
  }
  #configUser .div-img-rotate {}
  .top-publish {
    padding: 0;
  }
  #sales .network-link .separator {
    width: 100%;
    position: relative;
    height: 10px;
    float: left;
  }
  nav.navbar.navbar-static-bottom.navbar-footer {
    position: absolute;
  }
  .col-profile {
    padding: 0;
    margin-top: 10px;
  }
  #summary .title, #sales .title {
    padding: 0;
  }
  .margin-0 {
    margin: 0 0 10px 0;
  }
  .panel .panel-heading {
    display: inline-block;
  }
  #profile .network-link {
    position: absolute;
    top: 15px;
    left: 15px;
    background: rgba(250,250,250,0.8);
    padding: 5px;
  }
  #profile {
    padding: 0 !important;
    margin: 0;
  }
  #info .input-edit {
    margin: 0 !important;
  }
  #search {
    display: none;
    margin-left: 0;
    margin-right: 0;
  }
  #navbar-collapse-responsive {
    visibility: visible;;
  }
  #navbar-collapse-responsive.in {
    display: block !important;
  }
  #navbar-collapse-responsive .input-group span.input-group-btn {
    width: 1% !important;
  }
  .dropdown-menu.menu-onchange {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
  }
  .content-cat .cat-block .block-isset span {
    display: flex;
    padding-top: 10px;
  }
  .carousel-control.left, .carousel-control.right {
    opacity: 1;
  }
  .carousel-prev button, .carousel-next button {
    visibility: visible;
  }
  .filter {
    padding: 0;
  }
  .header.filter-breadcrumb .col-md-9 {
    margin-bottom: 12px;
  }
  .content-publication .framework-img a img {
    height: 220px !important;
  }
  .content-publication .framework-img {
    margin-bottom: 16px;
  }
  .layout-content {
    margin-bottom: 120px;
  }
  ul#accordion {
    box-shadow: none;
  }
  .content-shadow-border {
    box-shadow: none;
  }
  .content-publication .details-publications2 span.price {
    font-size: 18px;
  }
  .navbar.navbar-fixed-top .container {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
  .navbar-form {
    position: absolute;
    left: 136px;
    right: 86px;
    width: auto !important;
    padding: 0;
  }
  .navbar-form .form-group {
    position: relative;
    width: 80%;
    display: inline-block;
    max-width: 100%;
  }
  .navbar-form button.btn {
    margin-bottom: 4px;
    display: inline-block;
  }
  #search .menu-onchange {

  }
  .content-publish .col-lg-8.col-md-8.col-sm-12 {
    padding-left: inherit;
    padding-right: inherit;
  }
  .col-lg-4.col-md-4.col-sm-12 {
    padding-left: inherit;
    padding-right: inherit;
  }
  .sugerent-nav {
    visibility: visible;
  }
  #publication-user.content-shadow-border {
    margin-top: 0;
  }
  #publication-user.content-shadow-border > div > .row {
    padding: 0 !important;
  }
  #publication-user.content-shadow-border > div > .row .navbar-form {
    position: relative;
    left: 0;
    right: 0;
  }
  #publication-user.content-shadow-border > div > .row .margin-0.black {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .navbar-form[role="filter"] {
    position: relative;
    left: 0;
    right: 0;
  }
}
@media (max-width: 1200px){
  .navbar-form .form-group{
    width: 82%;
  }
  .content-cat .cat-block .block-isset {
    display: block;
    text-align: center;
  }
  .content-cat .cat-block .block-isset span {
    /* display: inline-block; */
  }
}
@media (max-width: 990px){
  .content-publish .top-publish .rating {

  }
  .publish {
    width: 1000%;
  }
  .layout-content .filter {
    padding: 0;
  }
}
@media (min-width: 768px){
  ul#accordion {
    display: block;
    height: 100%;
  }
}
@media (min-width: 768px) and (max-width: 990px){
  .col-profile {
    padding: 0;
  }
  .col-profile .content-shadow-border {
    margin-top: 70px;
    margin-bottom: 50px;
  }
  .img-profile-name {
    top: 30px;
    height: inherit;;
  }
  .img-profile-name  .img-profile-transform {
    position: relative !important;
    transform: inherit !important;
  }
  .img-profile-name .col-md-9 {
    text-align: center;
  }
}
