.row(style="margin-left: 80px;margin-right: 80px;")
  .col-lg-12.col-md-12.col-sm-12.col-xs-12
    form(ng-submit="on.submit()") 
      .col-lg-12.col-md-12.col-sm-12.col-xs-12
        .form-group
          label Nombre de Persona que recibirá el producto 
        .form-group.col-xs-12.col-sm-12.col-md-3.col-lg-3.has-feedback(style="padding-left: 0px;padding-right: 5px;")
          select.form-control(ng-model="on.form.idp",required)
            option(ng-value="V",ng-selected="on.form.idp=='V'") V
            option(ng-value="E",ng-selected="on.form.idp=='E'") E
            option(ng-value="P",ng-selected="on.form.idp=='P'") P
            option(ng-value="R",ng-selected="on.form.idp=='R'") R
          i.form-control-feedback.fv-icon-no-label
          small.help-block.hidden Por favor introduce un valor
        .form-group.col-xs-12.col-sm-12.col-md-4.col-lg-4.has-feedback(style="padding-left: 5px;padding-right: 5px;")
          input.form-control(type="text",placeholder="Ingresa el numero de documento...",ng-model="on.form.id",required)
          i.form-control-feedback.fv-icon-no-label
          small.help-block.hidden Por favor introduce un valor
          small.help-block.hidden Por favor introduce un número decimal válido
        .form-group.col-xs-12.col-sm-12.col-md-5.col-lg-5.has-feedback(style="padding-left: 5px;padding-right: 0px;")
          input.form-control(type="text",placeholder="Nombre",ng-model="on.form.name",required)
          i.form-control-feedback.fv-icon-no-label
          small.help-block.hidden Por favor introduce un valor
          small.help-block.hidden Por favor introduce un valor con una longitud válida
      .form-group.col-xs-12.col-sm-12.col-md-12.col-lg-12
        label Agencia de Transporte
        select.form-control(ng-model="on.form.agency",required)
          option(ng-seleted="true",ng-value="false",seleted="seleted",ng-disabled="true") Seleccione
          option(ng-value="0") Zoom
          option(ng-value="1") MRW
          option(ng-value="2") Entrega Personal
          option(ng-value="3") DHL
          option(ng-value="4") Domesa 
          option(ng-value="5") Ipostel
          option(ng-value="6") Tealca
        i.form-control-feedback.fv-icon-no-label
        small.help-block.hidden Por favor introduce un valor
      .form-group.col-xs-12.col-sm-12.col-md-12.col-lg-12
        label Dirección fiscal
        input.form-control(type="text",placeholder="Dirección",ng-model="on.form.address",required)
        i.form-control-feedback.fv-icon-no-label
        small.help-block.hidden Por favor introduce un valor
        small.help-block.hidden Por favor introduce un valor con una longitud válida
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        .alert.alert-info
          .fa.fa-info-circle.fa-fw
          | Hemos colocado la informacion de tu cuenta por defecto, puedes modificarla.
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        br
        br
        br
        .text-right 
          button#Report.btn.btn-send(type="submit") Continuar
