.container(style="padding-top: 4%;padding-left: 5%;padding-right: 5%;")
  #publication.content-publication.checkbox.col-xs-12.col-sm-12.col-md-12.col-lg-12
    .row.center-block(style="padding-bottom: 50px;")
      .col-xs-10.col-sm-10.col-md-10.col-lg-10.page-header.col-xs-offset-1.col-md-offset-1.col-lg-offset-1
        .text-center
          h3.black Datos para concretar la compra
      .col-xs-10.col-sm-8.col-md-8.col-lg-6.col-xs-offset-1.col-sm-offset-2.col-md-offset-2.col-lg-offset-3
        .col-lg-6.col-md-5.col-sm-5.col-xs-12
          .framework-img
            a  
              img.img-response(ng-src="http://50.21.179.35:8083/{{transactions.item.publication.photos[0]}}",style="height: 180px;")
        .col-lg-6.col-md-7.col-sm-7.col-xs-12
          .pull-left
            div
              a(ui-sref="base.publication({id: transactions.item.publication._id})") {{transactions.item.publication.name}}
              br
              span.price.red(style="font-size: 15px;display: inline-block;") {{transactions.item.publication.price | filterMoney : "Bs" : true}}
              span  x {{transactions.item.quantity}}
              span(ng-if="transactions.item.quantity==1") unidad 
              span(ng-if="transactions.item.quantity>1") unidades
              br
              span.opacity Publicación N° {{transactions.item.publication.miniid}}
              hr
              div
                span.black Datos del vendedor
                i.fa.fa-user.fa-fw.black 
                span.black {{transactions.item.seller.name}}
                | ( 
                a(iu-sref="user.info({id: transactions.item.seller.name._id})")  
                  span.black {{transactions.item.seller.username}}
                | ) 
                br
                i.fa.fa-phone.fa-fw.black
                span.black {{transactions.item.seller.phone}}
                br
                i.fa.fa-envelope.fa-fw.black
                | &nbsp;
                copy-text(ng-model="transactions.item.seller.mail")
                br
                br
                br
                br
                br
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        .text-center
          hr
          div(style="display: inline-block;position: absolute;left: 50%;transform: translateX(-50%);top: -20px;padding: 20px;background: white;")
            span(ng-if="transactions.item.type==1") 
              b.black
                i.fa.fa-bank.fa-fw.black  
                | Cuentas bancarias de 
                span.color-apdp A Precio De Pana
            span(ng-if="transactions.item.type==0")
              b.black 
                | Información bancaria
          br
          br
      .col-xs-12.col-sm-12.col-md-12.col-lg-12(ng-if="transactions.item.type==1")
        .col-xs-12.col-sm-6.col-md-4.col-md-offset-2.col-lg-3.col-lg-offset-3(stlye="padding-right: 10px;") 
          .text-center(style="border: dashed 1px #CCC;height: 180px;background: #FAFAFA;padding: 20px;font-size: 12px;")
            img.img-response(ng-src="http://50.21.179.35:8083/banplus.jpg",style="width: 140px;height: auto;margin-bottom: 10px;")
            span.black(style="display: block;") Cuenta Corriente
            span.black(style="display: block;") 01340173001731028149  
            span.black(style="display: block;") A precio de pana C.A 
            span.black(style="display: block;") Rif: J- 40582479-4 
            span.black(style="display: block;") contacto@apreciodepana.com 
        .col-xs-12.col-sm-6.col-md-4.col-lg-3(style="padding-left: 10px;") 
          .text-center(style="border: dashed 1px #CCC;height: 180px;background: #FAFAFA;padding: 20px;font-size: 12px;")
            img.img-response(ng-src="http://50.21.179.35:8083/banesco.jpg",style="width: 140px;height: auto;margin-bottom: 10px;")
            span.black(style="display: block;") Cuenta Corriente
            span.black(style="display: block;") 01740144111444160632 
            span.black(style="display: block;") A precio de pana C.A 
            span.black(style="display: block;") Rif: J- 40582479-4 
            span.black(style="display: block;") contacto@apreciodepana.com
      .col-xs-12.col-sm-10.col-md-10.col-lg-10.col-sm-offset-1.col-md-offset-1.col-lg-offset-1.text-center(ng-if="transactions.item.type==0")
        .col-xs-12.col-sm-6.col-md-6.col-lg-4(style="padding-right: 10px;float: none;display: inline-block;",ng-repeat="collections in banksaccount.items") 
          .text-center(style="border: dashed 1px #CCC;height: 180px;background: #FAFAFA;padding: 20px;font-size: 12px;")
            //- img.img-response(ng-src="http://50.21.179.35:8083/banplus.jpg",style="width: 140px;height: auto;margin-bottom: 10px;")
            span.black(style="word-break: break-all;") {{collections.bank.name}}
            br
            br
            span.black(style="word-break: break-all;",ng-if="collections.type==1") Cuenta Corriente
              br
            span.black(style="word-break: break-all;",ng-if="collections.type==2") Cuenta Ahorro
              br
            span.black(style="word-break: break-all;") {{collections.number}}  
              br
            span.black(style="word-break: break-all;") {{collections.name}}
              br
            span.black(style="word-break: break-all;") {{collections.id}} 
              br
            span.black(style="word-break: break-all;") {{collections.mail}} 
      .col-xs-12.col-sm-12.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3.text-center
        br
        .alert.alert-success
          i.fa.fa-lock.fa-fw(style="color: #3c763d;")
          | Al depositar a nuestras cuentas, mediaremos tu compra
          br
          | para garantizar la entrega de tu producto.
      .col-xs-12.col-sm-12.col-md-12.col-lg-12.text-center
        //- button.btn.btn-default(type="button",ng-if="transactions.item.type==1",ui-sref="bankcheckout.bankcheckoutOne({id: id})") Pagar Luego
        button.btn.btn-send(type="button",ui-sref="bankcheckout.bankcheckoutOne({id: id})") Informar pago
