#configUser
  h4.title.text-center
    span.black Configuracion de datos
  hr
  .row
    .col-md-12.hidden-lg.hidden-md.hidden-sm.row(style="margin-bottom: 20px;")
      .col-xs-6.col-xs-offset-3.padding-col-0
        img(ng-src="http://50.21.179.35:8083/{{Auth.photo}}",width="100%",height="100%")      
    .col-md-12(style="padding-right: 0;margin-bottom: 10px;")
      .title
        span.btn.btn-default
          i.fa.fa-user.fa-fw.black.fa-2x
        | &nbsp;
        | &nbsp;
        span.black Información personal
      .pull-right.div-img-rotate.hidden-xs
        img(ng-src="http://50.21.179.35:8083/{{Auth.photo}}",width="100%",height="100%")
    .col-md-12.black
      .border-input
        b.black Razon Social:  
        | {{Auth.name}} {{Auth.lastname}}
    .col-md-12.black
      .border-input
        b.black RIF: 
        | {{Auth.document}}
    .col-md-12.black
      .border-input
        b.black Telefono: 
        | {{Auth.phone}}
    .col-md-12
      .border-input.border-input-last.black 
        b.black Dirección:
        span(ng-repeat="address in Auth.localities") 
          | {{address.name}} 
          span(ng-if="Auth.localities.length>1 && Auth.localities.length != $index") ,
        p(style="word-break: break-all;display: inline-block;margin-left: 5px;") {{Auth.address}} 
        .input-group.pull-right(style="display: inline-block")
          .checkbox(style="margin: 0;")
            label
              input(type="checkbox" value="")
              | Compartir Dirección
          //- .text-right(style="display: inline-block") Compartir Dirección
          //- .input-group-addon(style="display: inline-block")
          //-   input(type="checkbox")
    br
    br
    .col-md-12.text-right(style="margin: 15px 0;")
      button.btn.btn-send(type="button",data-dismiss="modal",data-toggle="modal",data-target="#DataUser") Modificar
    br
    br
    .col-md-12(style="padding-right: 0;margin-bottom: 10px;")
      .title
        span.btn.btn-default
          i.fa.fa-lock.fa-fw.black.fa-2x
        | &nbsp;
        | &nbsp;
        span.black Información de acceso
    .col-md-12.border-input
      b.black Seudonimo:  
      | {{Auth.username}}
      span.pull-right 
        a.pointer(data-dismiss="modal",data-toggle="modal",data-target="#edit",ng-click="options = 'Seudonimo'") Editar
    .col-md-12.border-input
      b.black Correo:  
      | {{Auth.mail}}
      span.pull-right
        a.pointer(data-dismiss="modal",data-toggle="modal",data-target="#edit",ng-click="options = 'Correo'") Editar
    .col-md-12.border-input.border-input-last
      b.black Contraseña:  
        | ********
      span.pull-right
        a.pointer(data-dismiss="modal",data-toggle="modal",data-target="#edit",ng-click="options = 'Contraseña'") Editar
    br
    br
    .col-md-12.text-right(style="margin: 15px 0;")
    br
    br
    .col-md-12(style="padding-right: 0;margin-bottom: 10px;")
      .title 
        span.btn.btn-default
          img(ng-src="http://50.21.179.35:8083/verificado.png",width="40px")
        | &nbsp;
        | &nbsp;
        span.black Tienda Verificada
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      .col-md-12(style="border-top: 1px solid #e5e5e5;border-bottom: 1px solid #e5e5e5;")
        .text-center.alert.alert-info(style="margin-top: 20px;")
          i.fa.fa-info-circle
          |  Aún no haz verificado tu tienda, envíanos tus datos y conviértete en tienda verificada.
    br
    br
    .col-md-12.text-right(style="margin: 15px 0;")
      button.btn.btn-send(type="button",data-dismiss="modal",data-toggle="modal",data-target="#store") Verificar
    br
    br
    .col-md-12(style="padding-right: 0;margin-bottom: 10px;")
      .title
        span.btn.btn-default
          i.fa.fa-credit-card.fa-fw.black.fa-2x
        | &nbsp;
        | &nbsp;
        span.black Información Bancaria
    .col-md-12.black.border-input.border-input-last(ng-if="banksaccount.items.length < 1")
      b.black Cuenta Bancaria:  
      | Sin Informacion
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      .center-block.text-center
        .col-xs-12.col-sm-6.col-md-6.col-lg-4(ng-repeat="banksaccount in banksaccount.items",style="padding-top: 15px;padding-bottom: 15px;")
          .banksaccount.black
            span.close(ng-click="send.DeleteBankAccount(banksaccount._id)")
              i.red-text.fa.fa-times.red
            //- img(ng-src="http://50.21.179.35:8083/",width="100%",height="100%")
            | {{banksaccount.bank.name}}
            div.black(ng-if="banksaccount.type==2") Cuenta Corriente
            div.black(ng-if="banksaccount.type==1") Cuenta Ahorro
            | {{banksaccount.number}}
            br
            | {{banksaccount.name}}
            br
            | {{banksaccount.id}}
            br
            | {{banksaccount.mail}}
            br
            a.pointer(data-dismiss="modal",data-toggle="modal",data-target="#editBanks",ng-click="edit.UpdateBankAccount(banksaccount._id)") Actualizar
    br
    br
    .col-md-12.text-right(style="margin: 15px 0;")
      button.btn.btn-send(type="button",data-dismiss="modal",data-toggle="modal",data-target="#edit",ng-click="options = 'Cuenta Bancaria'",ng-hide="banksaccount.items.length===3") Verificar
    br
    br
    .col-md-12
      .border-out
        a.btn.pointer Desactivar Cuenta
#DataUser.modal.fade.blue(tabindex="-1",role="dialog",aria-labelledby="DataUser")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        button.close(type="button",data-dismiss="modal",aria-label="Close")
          span.black(aria-hidden="true") &times;
        img.margin-center(ng-src="http://50.21.179.35:8083/bill-ok.png",alt="bill-ok",width="50px",height="50px")
        span Editar Información Personal
      form(ng-submit="send.EditInfoPerson()")
        .modal-body
          .row
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
              #alertEdit.alert.alert-warning.alert-dismissible.hidden(role="alert") 
                strong Tienes que modificar algun campo para guardar los cambios.
            .col-xs-12(style="margin-bottom: 8px;")
              span.black
                i.fa.fa-list-alt.fa-fw.black
                | Identificación
            .form-group.col-xs-12.col-sm-12.col-md-3.col-lg-3.input
              select.form-control(ng-model="send.form.idp",required)
                option(ng-selected="true",ng-value="V",value="V",seleted="seleted") V
                option(ng-value="E",value="E") E
                option(ng-value="P",value="P") P
                option(ng-value="R",value="R") R
            .form-group.col-xs-12.col-sm-12.col-md-9.col-lg-9.input.has-feedback
              input.form-control(type="text",placeholder="Ingresa el numero de documento...",ng-model="send.form.document")
              i.form-control-feedback.fv-icon-no-label(style="display: none;")
              small.help-block(style="display: none;") Por favor introduce un valor
              small.help-block(style="display: none;") Por favor introduce sólo dígitos
              small.help-block(style="display: none;") Por favor introduce un valor con una longitud válida
            .col-xs-12(style="margin: 8px 0;")
              span.black
                i.fa.fa-industry.fa-fw.black
                |  Nombre de la empresa
            .form-group.col-xs-12.col-sm-12.col-md-6.col-lg-6.input.has-feedback
              input.form-control(type="text",placeholder="Ingresa la razon social...",ng-model="send.form.username")
              i.form-control-feedback.fv-icon-no-label(style="display: none;")
              small.help-block(style="display: none;") Por favor introduce un valor
              small.help-block(style="display: none;") Por favor introduce un valor con una longitud válida
            .form-group.col-xs-12.col-sm-12.col-md-6.col-lg-6.input.has-feedback
              select.form-control
                option(selected,disabled) Area de tu Empresa
              i.form-control-feedback.fv-icon-no-label(style="display: none;")
              small.help-block(style="display: none;") Por favor introduce un valor
            .col-xs-12(style="margin: 8px 0;")
              span.black 
                i.fa.fa-phone.fa-fw.black
                | Teléfono
            .form-group.col-xs-12.col-sm-12.col-md-12.col-lg-12.input.has-feedback
              input.form-control(type="text",placeholder="Ingrese un numero de telefono...",ng-model="send.form.phone")
              i.form-control-feedback.fv-icon-no-label(style="display: none;")
              small.help-block(style="display: none;") Por favor introduce un valor
              small.help-block(style="display: none;") Por favor introduce un numero válido de teléfono
            .col-xs-12(style="margin: 8px 0;")
              span.black
                i.fa.fa-map-marker.fa-fw.black
                | Ubicacion...
            .form-group.col-xs-12.col-sm-12.col-md-12.col-lg-12.input.has-feedback
              locality-picker(model='send.form.localities')
            .form-group.col-xs-12.col-sm-12.col-md-12.col-lg-12.input.has-feedback
              textarea.form-control(rows="4",cols="",placeholder=" Direccion",style="overflow: hidden;",ng-model="send.form.address")
              i.form-control-feedback.fv-icon-no-label(style="display: none;")
              small.help-block(style="display: none;") Por favor introduce un valor
              small.help-block(style="display: none;") Por favor introduce un valor con una longitud válida
        .modal-footer
          .col-md-12
            button#CancelModal.btn.btn-default(type="button",data-dismiss="modal")
              | Cancelar
            button#ButtonModal.btn.btn-primary(type="submit",data-loading-text="Loading...")
              | Guardar
#edit.modal.fade.blue(tabindex="-1",role="dialog",aria-labelledby="edit")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        button.close(type="button",data-dismiss="modal",aria-label="Close")
          span.black(aria-hidden="true") &times;
        img.margin-center(ng-src="http://50.21.179.35:8083/bill-ok.png",alt="bill-ok",width="50px",height="50px")
        span Editar {{options}}
      form(ng-submit="send.EditSeudominio()",ng-if="options=='Seudonimo'")
        .modal-body
          .row
            .col-xs-12(style="margin-bottom: 8px;")
              span.black
                i.fa.fa-envelope.fa-fw.black
                | Editar Seudonimo
            .form-group.col-xs-12.input.has-feedback
              input.form-control(type="text",placeholder=" Ingresa un nombre con el que te identificaras en el sitio...",ng-model="send.form.username")
              i.form-control-feedback.fv-icon-no-label(style="display: none;")
              small.help-block(style="display: none;") Por favor introduce un valor
              small.help-block(style="display: none;") Por favor introduce un valor con una longitud válida
              small.help-block(style="display: none;") Por favor introduce un valor que coincida con el patrón
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
              #alertEditUsername.alert.alert-warning.alert-dismissible.hidden(role="alert") 
                strong Tienes que modificar el campo para guardar los cambios.
        .modal-footer
          .col-md-12
            button#CancelModalUsername.btn.btn-default(type="button",data-dismiss="modal")
              | Cancelar
            button#ButtonModalUsername.btn.btn-primary(type="submit",data-loading-text="Loading...")
              | Guardar
      form(ng-submit="send.EditEmail()",ng-if="options=='Correo'")
        .modal-body
          .row
            .col-xs-12(style="margin-bottom: 8px;")
              span.black
                i.fa.fa-male.fa-fw.black
                | Editar Correo
            .form-group.col-xs-12.input.has-feedback
              input.form-control(type="email",placeholder=" Ingresa tu correo electronico...",ng-model="send.form.mail")
              i.form-control-feedback.fv-icon-no-label(style="display: none;")
              small.help-block(style="display: none;") Por favor introduce un valor
              small.help-block(style="display: none;") Por favor introduce un email valor
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
              #alertEditEmail.alert.alert-warning.alert-dismissible.hidden(role="alert") 
                strong Tienes que modificar el campo para guardar los cambios.
        .modal-footer
          .col-md-12
            button#CancelModalEmail.btn.btn-default(type="button",data-dismiss="modal")
              | Cancelar
            button#ButtonModalEmail.btn.btn-primary(type="submit",data-loading-text="Loading...")
              | Guardar
      form(ng-submit="send.EditPassword()",ng-if="options=='Contraseña'")
        .modal-body
          .row
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
              .col-lg-12.col-md-12.col-sm-12.col-xs-12(style="margin-bottom: 8px;float: none;")
                span.black
                  i.fa.fa-envelope.fa-fw.black
                  | Contraseña
              .form-group.has-feedback(ng-init="send.form.Oldpassword=''",ng-class="{'has-success': send.form.Oldpassword,'has-error': send.form.Oldpassword==undefined}")
                input.form-control(type="password",placeholder="Ingresa tu actual contraseña...",ng-model="send.form.Oldpassword",required)
                span.glyphicon.glyphicon-ok.form-control-feedback(ng-show="send.form.Oldpassword")
                span.glyphicon.glyphicon-remove.form-control-feedback(ng-show="send.form.Oldpassword==undefined",title="Formato Invalido")
                small.help-block(style="display: none;") Por favor introduce un valor
              .form-group.has-feedback(ng-init="send.form.password=''",ng-class="{'has-success': send.form.password,'has-error': send.form.password==undefined}")
                input.form-control(type="password",placeholder="Ingresa tu nueva contraseña...",ng-model="send.form.password",required)
                span.glyphicon.glyphicon-ok.form-control-feedback(ng-show="send.form.password")
                span.glyphicon.glyphicon-remove.form-control-feedback(ng-show="send.form.password==undefined",title="Formato Invalido")
                small.help-block(style="display: none;") Por favor introduce un valor
                small.help-block(style="display: none;") Por favor introduce un valor con una longitud válida
              .form-group.has-feedback(ng-init="send.form.ValidPassword=''",ng-class="{'has-success': send.form.ValidPassword && send.form.password===send.form.ValidPassword ,'has-error': send.form.ValidPassword==undefined || send.form.password!=send.form.ValidPassword}")
                input.form-control(type="password",placeholder="Repetir tu nueva contraseña...",ng-model="send.form.ValidPassword",required)
                span.glyphicon.glyphicon-ok.form-control-feedback(ng-show="send.form.ValidPassword")
                span.glyphicon.glyphicon-remove.form-control-feedback(ng-show="send.form.ValidPassword==undefined",title="Formato Invalido")
                small.help-block(style="display: none;") Por favor introduce el mismo valor
              .col-lg-12.col-md-12.col-sm-12.col-xs-12
                #alertEditPassword.alert.alert-warning.alert-dismissible.hidden(role="alert") 
                  strong Las contraseña nueva no coincide
        .modal-footer
          .col-md-12
            button#CancelModalPassword.btn.btn-default(type="button",data-dismiss="modal")
              | Cancelar
            button#ButtonModalPassword.btn.btn-primary(type="submit",data-loading-text="Loading...")
              | Guardar
      form(ng-submit="send.EditInfoBank()",ng-if="options=='Cuenta Bancaria'")
        .modal-body
          .row
            .col-xs-12.col-sm-12.col-md-12.col-lg-12
              .form-group.col-xs-12.col-sm-12.col-md-12.col-lg-12.has-feedback(ng-init="send.form.bank=''",ng-class="{'has-success': send.form.bank,'has-error': send.form.bank==undefined}",style="padding:0;")
                select.form-control(ng-model="send.form.bank",required)
                  option(ng-selected="true",ng-disabled="true") Seleccione un banco
                  option(ng-repeat="items in banks.items",ng-value="items._id",value="items._id") {{items.name}} 
                span.glyphicon.glyphicon-ok.form-control-feedback(ng-show="send.form.bank")
                span.glyphicon.glyphicon-remove.form-control-feedback(ng-show="send.form.bank==undefined",title="Formato Invalido")
                small.help-block(ng-show="send.form.bank==undefined") Por favor introduce un valor
              .form-group.col-xs-12.col-sm-12.col-md-12.col-lg-12.has-feedback(ng-init="send.form.type=''",ng-class="{'has-success': send.form.type,'has-error': send.form.type==undefined}",style="padding:0;")
                select.form-control(ng-model="send.form.type",required)
                  option(ng-selected="true",ng-disabled="true") Tipo de Cuenta 
                  option(ng-value="1",value="1") Ahorro
                  option(ng-value="2",value="2") Corriente
                span.glyphicon.glyphicon-ok.form-control-feedback(ng-show="send.form.type")
                span.glyphicon.glyphicon-remove.form-control-feedback(ng-show="send.form.type==undefined",title="Formato Invalido")
                small.help-block(ng-show="send.form.type==undefined") Por favor introduce un valor
              .form-group.col-xs-12.col-sm-12.col-md-2.col-lg-2.has-feedback(ng-class="{'has-success': send.form.idp,'has-error': send.form.idp==undefined}",style="padding: 0;")
                select.form-control(ng-model="send.form.idp",required)
                  option(ng-selected="true",ng-value="V",value="V") V
                  option(ng-value="E",value="E") E
                  option(ng-value="P",value="P") P
                  option(ng-value="R",value="R") R
                span.glyphicon.glyphicon-ok.form-control-feedback(ng-show="send.form.idp")
                span.glyphicon.glyphicon-remove.form-control-feedback(ng-show="send.form.idp==undefined",title="Formato Invalido")
                small.help-block(ng-show="send.form.idp==undefined") Por favor introduce un valor
              .form-group.col-md-1.col-lg-1.hidden-sm.hidden-xs
              .form-group.col-xs-12.col-sm-12.col-md-9.col-lg-9.has-feedback(ng-class="{'has-success': send.form.document,'has-error': send.form.document==undefined}",style="padding: 0;")
                input.form-control(type="text",placeholder="Ingresa el numero de documento...",ng-model="send.form.document",pattern="[0-9]{1,}",required)
                span.glyphicon.glyphicon-ok.form-control-feedback(ng-show="send.form.document")
                span.glyphicon.glyphicon-remove.form-control-feedback(ng-show="send.form.document==undefined",title="Formato Invalido")
                small.help-block(ng-show="send.form.document==undefined") Por favor introduce un valor valido
              .col-xs-12.col-sm-12.col-md-12.col-lg-12(style="margin-bottom: 8px;",ng-if="options=='Cuenta Bancaria'")
                span.black
                  | Titular de la cuenta
              .form-group.col-xs-12.col-sm-12.col-md-12.col-lg-12.has-feedback(ng-class="{'has-success': send.form.nameComplete,'has-error': send.form.nameComplete==undefined}",style="padding: 0;")
                input.form-control(type="text",placeholder="Nombre del titular",ng-model="send.form.nameComplete",pattern="[A-Za-z ]{1,}",required)
                span.glyphicon.glyphicon-ok.form-control-feedback(ng-show="send.form.nameComplete")
                span.glyphicon.glyphicon-remove.form-control-feedback(ng-show="send.form.nameComplete==undefined",title="Formato Invalido")
                small.help-block(ng-show="send.form.nameComplete==undefined") Por favor introduce un valor
              .form-group.col-xs-12.col-sm-12.col-md-12.col-lg-12.has-feedback(ng-init="send.form.number=''",ng-class="{'has-success': send.form.number,'has-error': send.form.number==undefined}",style="padding: 0;")
                input.form-control(type="text",placeholder="Ingresa el numero de cuenta...",ng-model="send.form.number",pattern="[0-9]{20,20}",required)
                span.glyphicon.glyphicon-ok.form-control-feedback(ng-show="send.form.number")
                span.glyphicon.glyphicon-remove.form-control-feedback(ng-show="send.form.number==undefined",title="La cantida de numero debe ser de 20 digitos")
              .form-group.col-xs-12.col-sm-12.col-md-12.col-lg-12.has-feedback(ng-class="{'has-success': send.form.mail,'has-error': send.form.mail==undefined}",style="padding: 0;")
                input.form-control(type="email",placeholder="Ingresa tu correo electronico",ng-model="send.form.mail",required)
                span.glyphicon.glyphicon-ok.form-control-feedback(ng-show="send.form.mail")
                span.glyphicon.glyphicon-remove.form-control-feedback(ng-show="send.form.mail==undefined",title="Formato Invalido")
                small.help-block(ng-show="send.form.mail==undefined") Por favor introduce un valor
              #alertEditAccount.alert.alert-warning.alert-dismissible.hidden(role="alert") 
                strong Tienes que modificar el campo para guardar los cambios.
        .modal-footer
          .col-md-12
            button#CancelModalInfoBanks.btn.btn-default(type="button",data-dismiss="modal")
              | Cancelar
            button#ButtonModalInfoBanks.btn.btn-primary(type="submit",data-loading-text="Loading...")
              | Guardar
#editBanks.modal.fade.blue(tabindex="-1",role="dialog",aria-labelledby="editBanks")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        button.close(type="button",data-dismiss="modal",aria-label="Close")
          span.black(aria-hidden="true") &times;
        img.margin-center(ng-src="http://50.21.179.35:8083/bill-ok.png",alt="bill-ok",width="50px",height="50px")
        span Editar {{options}}
      form(ng-submit="edit.EditInfoBank()")
        .modal-body
          .row
            .col-xs-12.col-sm-12.col-md-12.col-lg-12
              .form-group.col-xs-12.col-sm-12.col-md-12.col-lg-12.has-feedback(ng-class="{'has-success': edit.form.bank,'has-error': edit.form.bank==undefined}",style="padding:0;")
                select.form-control(ng-model="edit.form.bank",required)
                  option(ng-repeat="items in banks.items",ng-value="items._id",value="{{items._id}}",ng-selected="items._id === edit.form.bank") {{items.name}} 
                span.glyphicon.glyphicon-ok.form-control-feedback(ng-show="edit.form.bank")
                span.glyphicon.glyphicon-remove.form-control-feedback(ng-show="edit.form.bank==undefined",title="Formato Invalido")
                small.help-block(ng-show="edit.form.bank==undefined") Por favor introduce un valor
              .form-group.col-xs-12.col-sm-12.col-md-12.col-lg-12.has-feedback(ng-class="{'has-success': edit.form.type,'has-error': edit.form.type==undefined}",style="padding:0;")
                select.form-control(ng-model="edit.form.type",required)
                  option(ng-value="1",value="1",ng-selected="edit.form.type === 1") Ahorro
                  option(ng-value="2",value="2",ng-selected="edit.form.type === 2") Corriente
                span.glyphicon.glyphicon-ok.form-control-feedback(ng-show="edit.form.type")
                span.glyphicon.glyphicon-remove.form-control-feedback(ng-show="edit.form.type==undefined",title="Formato Invalido")
                small.help-block(ng-show="edit.form.type==undefined") Por favor introduce un valor
              .form-group.col-xs-12.col-sm-12.col-md-2.col-lg-2.has-feedback(ng-class="{'has-success': edit.form.idp,'has-error': edit.form.idp==undefined}",style="padding: 0;")
                select.form-control(ng-model="edit.form.idp",required)
                  option(ng-value="V",value="V",ng-selected="edit.form.idp === 'V'") V
                  option(ng-value="E",value="E",ng-selected="edit.form.idp === 'E'") E
                  option(ng-value="P",value="P",ng-selected="edit.form.idp === 'P'") P
                  option(ng-value="R",value="R",ng-selected="edit.form.idp === 'R'") R
                span.glyphicon.glyphicon-ok.form-control-feedback(ng-show="edit.form.idp")
                span.glyphicon.glyphicon-remove.form-control-feedback(ng-show="edit.form.idp==undefined",title="Formato Invalido")
                small.help-block(ng-show="edit.form.idp==undefined") Por favor introduce un valor
              .form-group.col-md-1.col-lg-1.hidden-sm.hidden-xs
              .form-group.col-xs-12.col-sm-12.col-md-9.col-lg-9.has-feedback(ng-class="{'has-success': edit.form.document,'has-error': edit.form.document==undefined}",style="padding: 0;")
                input.form-control(type="text",placeholder="Ingresa el numero de documento...",ng-model="edit.form.document",pattern="[0-9]{1,}",required)
                span.glyphicon.glyphicon-ok.form-control-feedback(ng-show="edit.form.document")
                span.glyphicon.glyphicon-remove.form-control-feedback(ng-show="edit.form.document==undefined",title="Formato Invalido")
                small.help-block(ng-show="edit.form.document==undefined") Por favor introduce un valor valido
              .col-xs-12.col-sm-12.col-md-12.col-lg-12(style="margin-bottom: 8px;",ng-if="options=='Cuenta Bancaria'")
                span.black
                  | Titular de la cuenta
              .form-group.col-xs-12.col-sm-12.col-md-12.col-lg-12.has-feedback(ng-class="{'has-success': edit.form.nameComplete,'has-error': edit.form.nameComplete==undefined}",style="padding: 0;")
                input.form-control(type="text",placeholder="Nombre del titular",ng-model="edit.form.nameComplete",pattern="[A-Za-z ]{1,}",required)
                span.glyphicon.glyphicon-ok.form-control-feedback(ng-show="edit.form.nameComplete")
                span.glyphicon.glyphicon-remove.form-control-feedback(ng-show="edit.form.nameComplete==undefined",title="Formato Invalido")
                small.help-block(ng-show="edit.form.nameComplete==undefined") Por favor introduce un valor
              .form-group.col-xs-12.col-sm-12.col-md-12.col-lg-12.has-feedback(ng-class="{'has-success': edit.form.number,'has-error': edit.form.number==undefined}",style="padding: 0;")
                input.form-control(type="text",placeholder="Ingresa el numero de cuenta...",ng-model="edit.form.number",pattern="[0-9]{20,20}",required)
                span.glyphicon.glyphicon-ok.form-control-feedback(ng-show="edit.form.number")
                span.glyphicon.glyphicon-remove.form-control-feedback(ng-show="edit.form.number==undefined",title="La cantida de numero debe ser de 20 digitos")
              .form-group.col-xs-12.col-sm-12.col-md-12.col-lg-12.has-feedback(ng-class="{'has-success': edit.form.mail,'has-error': edit.form.mail==undefined}",style="padding: 0;")
                input.form-control(type="email",placeholder="Ingresa tu correo electronico",ng-model="edit.form.mail",required)
                span.glyphicon.glyphicon-ok.form-control-feedback(ng-show="edit.form.mail")
                span.glyphicon.glyphicon-remove.form-control-feedback(ng-show="edit.form.mail==undefined",title="Formato Invalido")
                small.help-block(ng-show="edit.form.mail==undefined") Por favor introduce un valor
              #alertEditBanks.alert.alert-warning.alert-dismissible.hidden(role="alert") 
                strong Tienes que modificar el campo para guardar los cambios.
        .modal-footer
          .col-md-12
            button#CancelModalEditBanks.btn.btn-default(type="button",data-dismiss="modal")
              | Cancelar
            button#ButtonModalEditBanks.btn.btn-primary(type="submit",data-loading-text="Loading...")
              | Guardar
#store.modal.fade(tabindex="-1",role="dialog",aria-labelledby="store")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        button.close(type="button",data-dismiss="modal",aria-label="Close")
          span.black(aria-hidden="true") &times;
      .modal-body.text-center
        img.margin-center.img-responsive(ng-src="http://50.21.179.35:8083/icono_contacto.png",alt="bill-ok",width="200px",height="200px")
        h2.black Informacion Fiscal
        br
        .center-block.row
          .col-md-8.col-md-offset-2
            form(ng-submit="send.contact()")
              .form-group.has-feedback(ng-class="{'has-success': send.form.name, 'has-error': send.form.name==undefined}")
                input.form-control(type="text",placeholder="Nombre",ng-model="send.form.name",pattern="[A-Za-z]{1,}",required,value="{{Auth.name}} {{Auth.lastname}}")
                span.glyphicon.glyphicon-ok.form-control-feedback(ng-show="send.form.name")
                span.glyphicon.glyphicon-remove.form-control-feedback(ng-show="send.form.name==undefined")
              .form-group.has-feedback(ng-class="{'has-success': send.form.mail, 'has-error': send.form.mail==undefined}")
                input.form-control(type="email",placeholder="Email",ng-model="send.form.mail",required="")
                span.glyphicon.glyphicon-ok.form-control-feedback(ng-show="send.form.mail")
                span.glyphicon.glyphicon-remove.form-control-feedback(ng-show="send.form.mail==undefined",title="Por favor introduce un email válido")
              .form-group.has-feedback.text-left(ng-class="{'has-success': send.form.fileRif, 'has-error': send.form.fileRif==undefined}")
                label 
                  b.black RIF:
                input.form-control(type="File")
                i.form-control-feedback(style="display: none;")
                small.help-block(style="display: none;") Por favor introduce un valor  
              .form-group.has-feedback.text-left(ng-class="{'has-success': send.form.fileRif, 'has-error': send.form.fileRif==undefined}")
                label 
                  b.black Cédula del Representante 
                input.form-control(type="File")
                i.form-control-feedback(style="display: none;")
                small.help-block(style="display: none;") Por favor introduce un valor
              .form-group.col-xs-12.col-sm-12.col-md-12.col-lg-12.input.has-feedback(style="padding: 0;")
                textarea.form-control(rows="4",cols="",placeholder="Comentario",style="overflow: hidden;")
                i.form-control-feedback.fv-icon-no-label(style="display: none;")
                small.help-block(style="display: none;") Por favor introduce un valor
                small.help-block(style="display: none;") Por favor introduce un valor con una longitud válida  
              .text-center
                button.btn.btn-default.border-radius-0(type="reset") Limpiar
                button.btn.btn-primary.border-radius-0(type="submit") Enviar
      .modal-footer
        .center-block.text-center
          | Apreciodepana, C.A. J-405824794 Táchira - Venezuela 
          br
          | Telefonos: (0276) 356.91.60 / (0276) 348.92.17 Email:contacto@apreciodepana.com
