.form-group
	select.form-control(ng-change='childOf(0)', required, ng-model='model[0]')
		option(ng-selected="true") Seleccione un Pais
		option(ng-repeat="item in con[0]", ng-selected="model[0] == item._id", value="{{item._id}}") {{item.name}}
.form-group
	select.form-control(ng-show="con[1]", ng-change='childOf(1)', ng-required="con[1]", ng-model='model[1]')
		option(ng-selected="true") Seleccione un Estado
		option(ng-repeat="item in con[1]", ng-selected="model[1] == item._id", value="{{item._id}}") {{item.name}}
.form-group
	select.form-control(ng-change='childOf(2)', ng-show="con[2]", ng-required="con[2]", ng-model='model[2]')
		option(ng-selected="true") Seleccione un Municipio
		option(ng-repeat="item in con[2]", ng-selected="model[2] == item._id", value="{{item._id}}") {{item.name}}
