nav.navbar.navbar-custom.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle.collapsed(type="button",data-toggle="collapse",data-target="#navbar-collapse",aria-expanded="false")
        span.sr-only Toggle navigation</span>
        span.icon-bar
        span.icon-bar
        span.icon-bar
      //- button.navbar-toggle.collapsed(type="button",data-toggle="collapse",data-target="#navbar-collapse-responsive",aria-expanded="false",style="padding: 6px 10px;",ng-click="touch=!touch")
      //-   span.white.fa.fa-search.fa-fw(ng-hide="touch")
      //-   span.white.fa.fa-times.fa-fw(ng-show="touch")
      div(auto-search-responsive)
        form.navbar-form.navbar-left.text-center.hidden-lg.hidden-md.hidden-sm(ng-submit='search()',role="search")  
          .input-group(style="width: 100%")
            input.form-control(type="text",placeholder="Buscar",ng-model='searchText',ng-change='searchChange()',ng-click='searchChange()')
            span.input-group-btn
              button#btn-search.btn(type="submit",style="height: 34px;") 
                i.fa.fa-search.fa-fw
        ul.dropdown-menu.menu-onchange.sugerent-nav(ng-class='{show: flag==true}')
          li
            ul(style="max-height: 600px;overflow-x: hidden;overflow-y: auto;padding-left: 0;list-style: none;")
              li(ng-if='publications.total != 0')
                a.dividerr
                  .title Publicaciones
              li(ng-repeat='items in publications.items')
                a(ui-sref="base.publication({id: items._id})",ng-mouseover='HoverSearch(items.name,$index,true)',ng-class='{active: $index==index}')
                  img.img-responsive.list-img-sugerent(ng-src="http://50.21.179.35:8083/{{items.photos[0]}}",alt="img",style="object-fit: scale-down;background: #FFF;")
                  | {{items.name}}
              li(ng-if='users.total != 0')
                a.dividerr
                  .title Usuarios
              li(ng-repeat='items in users.items', style='')
                a(ui-sref="user.publication({id: items._id})",ng-mouseover='HoverSearch(items.username,$index,false)',ng-class='{active: $index==indexx}')
                  img.img-responsive.list-img-sugerent(ng-src="http://50.21.179.35:8083/{{items.photo}}",alt="img",style="object-fit: scale-down;background: #FFF;")
                  | {{items.username}} 
          li.ng-hide(ng-show='found != true')
            a.search-more
              span
                i.fa.fa-search.fa-fw
              | Buscar todo lo relacionado con {{publications.s.name}}
          li.ng-hide(ng-show='found == true')
            a.search-more
              | No se han Encontrado Resuldatos
      a.navbar-brand(ui-sref="base.index") 
        img.img-responsive(src="http://50.21.179.35:8083/logo-header.png",alt="logo-header")
    #navbar-collapse.collapse.navbar-collapse(navbar-autoclose)
      form#search.navbar-form.navbar-left.text-center(ng-submit='search()',auto-search,role="search")  
        .input-group(style="width: 100%")
          input.form-control(type="text",placeholder="Buscar",ng-model='searchText',ng-change='searchChange()',ng-click='searchChange()')
          span.input-group-btn(style="width: 12%")
            button#btn-search.btn(type="submit",style="height: 34px;") 
              i.fa.fa-search.fa-fw
        ul.dropdown-menu.menu-onchange(ng-class='{show: flag==true}')
          li
            ul(style="max-height: 600px;overflow-x: hidden;overflow-y: auto;padding-left: 0;list-style: none;")
              li(ng-if='publications.total != 0')
                a.dividerr
                  .title Publicaciones
              li(ng-repeat='items in publications.items')
                a(ui-sref="base.publication({id: items._id})",ng-mouseover='HoverSearch(items.name,$index,true)',ng-class='{active: $index==index}')
                  img.list-img-sugerent(ng-src="http://50.21.179.35:8083/{{items.photos[0]}}",alt="img",style="object-fit: scale-down;background: #FFF;")
                  span(style="word-break: break-all;white-space: normal;display: inline-block;width: 72%;vertical-align: middle;") {{items.name}}
              li(ng-if='users.total != 0')
                a.dividerr
                  .title Usuarios
              li(ng-repeat='items in users.items')
                a(ui-sref="user.publication({id: items._id})",ng-mouseover='HoverSearch(items.username,$index,false)',ng-class='{active: $index==indexx}')
                  img.list-img-sugerent(ng-src="http://50.21.179.35:8083/{{items.photo}}",alt="img",style="object-fit: scale-down;background: #FFF;")
                  span(style="word-break: break-all;white-space: normal;display: inline-block;width: 72%;vertical-align: middle;") {{items.username}} 
          li.ng-hide(ng-show='found != true')
            a.search-more(ui-sref="base.search({search: publications.s.name})",style="white-space: normal;word-break: break-all;")
              span
                i.fa.fa-search.fa-fw
              | Buscar todo lo relacionado con {{publications.s.name}}
          li.ng-hide(ng-show='found == true')
            a.search-more
              | No se han Encontrado Resuldatos
      ul.nav.navbar-nav.navbar-right
        li.hidden-xs
          a.img-profile(ui-sref="profile.publication",ng-if="auth.isLogged()",style="margin-top: 2px;")
            img(ng-src="http://50.21.179.35:8083/{{auth.user.photo}}",alt="photo-user")
        li
          a.hidden-xs(role="button",id="OptionUser",data-toggle="dropdown",aria-haspopup="true",aria-expanded="false",ng-if="auth.isLogged()")
            | {{auth.user.name}}
          ul.hidden-xs.dropdown-menu.OptionUser(aria-labelledby="OptionUser",ng-if="auth.isLogged()",style="border-radius: 5px;min-width: auto;")
            i.glyphicon.glyphicon-triangle-top(style="color: white; z-index: 10000; top: -14px; float: right; right: 28px;")
            li
              a(ui-sref="summary.summary")
                | Mi Cuenta
            li
              a(ui-sref="profile.publication")
                | Mi Perfil
            li
              a(href="#",ng-click="auth.logout()")
                | Salir
          a(href="#",data-toggle="modal",data-target="#SignUp",ng-click="OnForm()",ng-if="!auth.isLogged()")  
            i.fa.fa-sign-in.fa-fw.hidden-lg.hidden-md.hidden-sm(style="margin-right: 5px;")
            | Inscribete
            i.fa.fa-sign-in.fa-fw.hidden-xs
        li.hidden-lg.hidden-md.hidden-sm(ng-if="auth.isLogged()")
          a(ui-sref="summary.summary")
            i.fa.fa-user-circle-o.fa-fw(style="margin-right: 5px;")
            | Mi Cuenta
        li.hidden-lg.hidden-md.hidden-sm(ng-if="auth.isLogged()")
          a(ui-sref="profile.publication")
            i.fa.fa-user.fa-fw(style="margin-right: 5px;")
            | Mi Perfil
        li
          .line-vertical
        li
          a(ui-sref="base.list({page: 1})",ng-if="auth.isLogged()")
            i.fa.fa-newspaper-o.fa-fw.hidden-lg.hidden-md.hidden-sm(style="margin-right: 5px;")
            | Muro
          a.hidden-lg.hidden-md.hidden-sm(ng-if="!auth.isLogged()",data-toggle="modal",data-target="#LoginResponsive")
            i.glyphicon.glyphicon-user(style="margin-right: 5px;")
            | Ingresa
          #dropdown-login.dropdown.hidden-xs(ng-if="!auth.isLogged()")
            a#login.dropdown-toggle(role="button",data-toggle="dropdown",aria-haspopup="true",aria-expanded="false")
              | Ingresa
              i.glyphicon.glyphicon-user
            ul.dropdown-menu(aria-labelledby="login")
              i.glyphicon.glyphicon-triangle-top(style="color: white; z-index: 10000; top: -14px; float: right; right: 28px;")
              li
                span Iniciar Sesión
              form(ng-submit="send.login()")
                li
                  input.form-control(type="text",placeholder="Seudonimo / Correo Electronico",ng-model="send.form.mail")
                li
                  input.form-control(type="password",placeholder="Contraseña",ng-model="send.form.password")
                li.text-right
                  a#ForgotPasswordLink(role="button",data-toggle="modal",data-target="#ForgotPassword") ¿Olvidaste la Contraseña?
                li 
                  button#LoginCollapse.btn.btn-group-justified.btn-login(type="submit",data-loading-text="Loading...") Ingresa 
                  br
                  button.btn.btn-group-justified.btn-facebook(type="submit",ng-click="authNetwork(true)") Ingresa con Facebook
                  button.btn.btn-group-justified.btn-twitter(type="submit",ng-click="authNetwork(false)") Ingresa con Twitter
        li(ng-if="!auth.isLogged()")
          .line-vertical
        li
          .dropdown(ng-if="auth.isLogged()")
            a#publishIcon.dropdown-toggle.pointer(ng-if="auth.isLogged()",data-toggle="dropdown",aria-haspopup="true",aria-expanded="false")
              i.fa.fa-tags.fa-fw.hidden-lg.hidden-md.hidden-sm(style="margin-right: 5px;")
              | Publica
            ul.dropdown-menu(aria-labelledby="publishIcon",ng-if="auth.isLogged()",style="min-width: auto;padding-top: 0;padding-bottom: 0;")
              li(style="padding: 0;")
                a(ui-sref="publish.base") ApreciodePana
              li(style="padding: 0;")
                a(herf="#") Instagram  
          a(href="#",data-toggle="modal",data-target="#Contact",ng-if="!auth.isLogged()")
            i.fa.fa-envelope.fa-fw.hidden-lg.hidden-md.hidden-sm(style="margin-right: 5px;")
            span Contacto
            i.fa.fa-envelope.fa-fw.hidden-xs
        li(ng-if="auth.isLogged()")
          .line-vertical
        li
          a.hidden-lg.hidden-md.hidden-sm(href="#",title="Notificationes",role="button",ng-if="auth.isLogged()",ng-click="getNotificacion()")
            i.fa.fa-bell.fa-fw.hidden-lg.hidden-md.hidden-sm(style="margin-right: 5px;")
            span.hidden-lg.hidden-md.hidden-sm Notificaciones
            span.badge.badge-custom(ng-if="newNotification.total<9 && newNotification.total>0") {{newNotification.total}}
            span.badge.badge-custom(ng-if="newNotification.total>9") +9
            i.fa.fa-bell.fa-fw.hidden-xs
          a.hidden-xs(href="#",title="Notificationes",role="button",data-toggle="dropdown",aria-haspopup="true",aria-expanded="false",ng-if="auth.isLogged()",ng-click="getNotificacion()")
            i.fa.fa-bell.fa-fw.hidden-lg.hidden-md.hidden-sm(style="margin-right: 5px;")
            span.hidden-lg.hidden-md.hidden-sm Notificaciones
            span.badge.badge-custom(ng-if="newNotification.total<9 && newNotification.total>0") {{newNotification.total}}
            span.badge.badge-custom(ng-if="newNotification.total>9") +9
            i.fa.fa-bell.fa-fw.hidden-xs
          ul#notification.dropdown-menu(aria-labelledby="login")
            i.glyphicon.glyphicon-triangle-top(style="color: white; z-index: 10000; top: -14px; float: right; right: 28px;position: absolute;")
            .sub(load-more="Notification.loadMore()")
              li.pointer(ng-repeat="notification in Notification.items")
                a(ui-sref="base.post-instagram",style="overflow: hidden;")
                  img(ng-src="http://50.21.179.35:8083/{{notification.meta.photos[0]}}",alt="",ng-if="notification.type !== 'transaction'")
                  img(ng-src="http://50.21.179.35:8083/{{notification.meta.oldpublication.photos[0]}}",alt="",ng-if="notification.type === 'transaction'")
                  .content
                    h5.black(title="{{notification.subject}}") {{notification.subject}}
                    small.text-muted(title="{{notification.message}}") {{notification.message}}
                  //- .state(ng-if="notification.status==1")
                  //- 
        li
          a(href="#",title="Favoritos",ng-if="auth.isLogged()",ui-sref="profile.publicationLike")
            i.fa.fa-heart.fa-fw.hidden-lg.hidden-md.hidden-sm(style="margin-right: 5px;")
            span.hidden-lg.hidden-md.hidden-sm Favoritos
            i.fa.fa-heart.fa-fw.hidden-xs
        li
          a(href="#",title="Contactanos",data-toggle="modal",data-target="#Contact",ng-if="auth.isLogged()",ng-click="send.AutoFormContact()")
            i.fa.fa-envelope.fa-fw.hidden-lg.hidden-md.hidden-sm(style="margin-right: 5px;")
            span.hidden-lg.hidden-md.hidden-sm Contactanos
            i.fa.fa-envelope.fa-fw.hidden-xs
        li.hidden-lg.hidden-md.hidden-sm(ng-if="auth.isLogged()")
          a(href="#",ng-click="auth.logout()")
            i.fa.fa-sign-out.fa-fw.hidden-lg.hidden-md.hidden-sm(style="margin-right: 5px;")
            span Salir
div.layout-content(ui-view="")
nav.navbar.navbar-footer.navbar-static-bottom
  .container-fluid.text-center
    .col-md-5
      b A Precio De Pana, C.A. 
      br.hidden-sm.hidden-md.hidden-lg
      | J-405824794   
      span.hidden-xs / San Cristóbal, Táchira,Venezuela.
    .col-md-4
      span
       | Todos los derechos reservados / 
       a(ui-sref="base.termCondition") Términos y condiciones
    .col-md-3
      a(href="https://www.facebook.com/apreciodepana",target="_blank")
        span
          i.t24.fa.fa-facebook-square
      a(href="https://twitter.com/apreciodepana",target="_blank")
        span
          i.t24.fa.fa-twitter-square
      a(href="https://www.instagram.com/apreciodepana",target="_blank")
        span
          i.t24.fa.fa-instagram
      a(href="https://www.youtube.com/apreciodepanaoficial",target="_blank")
        span
          i.t24.fa.fa-youtube-square
#SignUp.modal.fade(tabindex="-1",role="dialog",aria-labelledby="SignUp")
  .modal-dialog.modal-lg(role="document")
    .modal-content
      .modal-header
        button.close(type="button",data-dismiss="modal",aria-label="Close")
          span.black(aria-hidden="true") &times;
      .modal-body.text-center
        img.margin-center.img-responsive(ng-src="http://50.21.179.35:8083/bill-ok.png",alt="bill-ok",width="200px",height="200px")
        h2.black Cuentanos!
        br
        p.text-center.black.t20 Necesitamos saber si eres 
        .text-center.row
          .col-md-6.col-md-offset-3
            button.btn.btn-business.col-md-5.col-sm-12.col-xs-12(type="button",data-dismiss="modal",data-toggle="modal",data-target="#SignNetwork",ng-click="options=false") 
              i.fa.fa-industry.fa-fw
              | Empresa
            .col-md-2
            button.btn.btn-people.col-md-5.col-sm-12.col-xs-12(type="button",data-dismiss="modal",data-toggle="modal",data-target="#SignNetwork",ng-click="options=true") 
              i.fa.fa-user.fa-fw
              | Persona
#SignNetwork.modal.fade(tabindex="-1",role="dialog",aria-labelledby="SignNetwork")
  .modal-dialog.modal-lg(role="document")
    .modal-content
      .modal-header
        button.close(type="button",data-dismiss="modal",aria-label="Close",data-toggle="modal",data-target="#SignUp")
          span.black(aria-hidden="true") &times;
      .modal-body.text-center
        img.margin-center.img-responsive(ng-src="http://50.21.179.35:8083/bill-ok.png",alt="bill-ok",width="200px",height="200px")
        h2.black Hola!
        br
        p.text-center.black.t20 ¿Como Deseas Registrate?
        .text-center.row
          .col-md-6.col-md-offset-3
            button.btn.btn-facebook.col-md-5.col-sm-12.col-xs-12.border-radius-0(type="button",data-dismiss="modal") 
              i.fa.fa-facebook-square.fa-fw
              | Facebook
            .col-md-2
            button.btn.btn-twitter.col-md-5.col-sm-12.col-xs-12.border-radius-0(type="button",data-dismiss="modal") 
              i.fa.fa-twitter-square.fa-fw
              | Twitter
            button.btn.btn-primary-custom.border-radius-0.col-lg-12.col-sm-12.col-xs-12(type="button",data-dismiss="modal",data-toggle="modal",data-target="#SignIn")
              i.fa.fa-sign-in.fa-fw(style="color:white;")
              | Registrate
#SignInBusiness.modal.fade(tabindex="-1",role="dialog",aria-labelledby="SignInBusiness")
  .modal-dialog.modal-lg(role="document")
    .modal-content
      .modal-header
        button#close.close(type="button",data-dismiss="modal",aria-label="Close",ng-click="send.OnForm()",style="display: none")
        button.close(type="button",data-dismiss="modal",aria-label="Close",ng-click="send.OnForm()")
          span.black(aria-hidden="true") &times;
#SignIn.modal.fade(tabindex="-1",role="dialog",aria-labelledby="SignUp")
  .modal-dialog.modal-lg(role="document")
    .modal-content
      .modal-header
        button.close(type="button",data-dismiss="modal",aria-label="Close",ng-click="send.OnForm()")
          span.black(aria-hidden="true") &times;
      .modal-body.text-center(ng-if="options")
        form(ng-submit="send.register()")
          div(style="position: relative")
            button.btn.btn-primary-custom.img-circle.drop-box(type="button",title="Agrega un Foto de Perfil",ngf-select,ng-model='send.form.photo',ngf-accept="'image/png,image/jpeg'",ngf-pattern="'image/png,image/jpeg'") 
              i.fa.fa-picture-o.fa-fw
            button.btn.btn-primary-custom.img-circle.drop-box(type="button",title="Eliminar Foto de Perfil",ng-show="send.form.photo.name",ng-click="send.form.photo = false") 
              i.fa.fa-remove.fa-fw  
            img.margin-center.img-responsive.img-circle(ng-hide="send.form.photo.name",ng-src="http://50.21.179.35:8083/bill-ok.png",alt="bill-ok",width="200px",height="200px")
            img.margin-center.img-responsive.img-circle(ngf-src="send.form.photo",alt="photo-ok",width="200px",height="200px",style="min-height: 180px;max-height: 180px;max-width: 200px;min-width: 200px;object-fit: contain;")
          h2.black Registrate
          br
          p.text-center.black.t20 Completa el Formulario para Registrarte 
          .center-block.row
            .col-md-6
              .col-xs-12.col-sm-12.col-md-12.col-lg-12.padding-col-0
                .form-group.has-feedback(ng-class="{'has-success': send.form.username, 'has-error': send.form.username==undefined}")
                  label.pull-left.black
                    i.fa.fa-user.fa-fw.black
                    | &nbsp;
                    | Nombre de Usuario
                  input.form-control(type="text",placeholder="Nombre de Usuario",ng-model="send.form.username",ng-click="send.validation(name)",required,ng-disabled="Load")
                  span.glyphicon.glyphicon-ok.form-control-feedback(ng-show="send.form.username")
                  span.glyphicon.glyphicon-remove.form-control-feedback(ng-show="send.form.username==undefined",title="Formato Invalido")
              .col-xs-12.col-sm-12.col-md-12.col-lg-12.padding-col-0
                .form-group.has-feedback(ng-class="{'has-success': send.form.name, 'has-error': send.form.name==undefined}")
                  label.pull-left.black
                    i.fa.fa-user.fa-fw.black
                    | &nbsp;
                    | Nombre
                  input.form-control(type="text",placeholder="Nombre",ng-model="send.form.name",pattern="[A-zÀ-ž ]{1,}",ng-click="send.validation(name)",required,ng-disabled="Load")
                  span.glyphicon.glyphicon-ok.form-control-feedback(ng-show="send.form.name")
                  span.glyphicon.glyphicon-remove.form-control-feedback(ng-show="send.form.name==undefined",title="Formato Invalido")
              .col-xs-12.col-sm-12.col-md-12.col-lg-12.padding-col-0
                .form-group.has-feedback(ng-class="{'has-success': send.form.mail, 'has-error': send.form.mail==undefined}")
                  label.pull-left.black
                    i.fa.fa-user.fa-fw.black
                    | &nbsp;
                    | Correo Electronico
                  input.form-control(type="email",placeholder="Email",ng-model="send.form.mail",required,ng-disabled="Load")
                  span.glyphicon.glyphicon-ok.form-control-feedback(ng-show="send.form.mail")
                  span.glyphicon.glyphicon-remove.form-control-feedback(ng-show="send.form.mail==undefined",title="Por favor introduce un email válido")
              .col-xs-12.col-sm-12.col-md-12.col-lg-12.padding-col-0
                .form-group.has-feedback(ng-class="{'has-success': send.form.phone, 'has-error': send.form.phone==undefined}")
                  label.pull-left.black
                    i.fa.fa-phone.fa-fw.black
                    | &nbsp;
                    | Telefono
                  input.form-control(type="tel",placeholder="Telefono",ng-model="send.form.phone",ng-click="send.validation(name)",required,pattern="[0-9]{6,}",ng-disabled="Load")
                  span.glyphicon.glyphicon-ok.form-control-feedback(ng-show="send.form.phone")
                  span.glyphicon.glyphicon-remove.form-control-feedback(ng-show="send.form.phone==undefined",title="Formato Invalido")      
              .col-xs-12.col-sm-12.col-md-12.col-lg-12.padding-col-0  
                label.black(style="display: table;")
                  i.fa.fa-id-card-o.fa-fw.black
                  | &nbsp;
                  | Identificacion
                .col-xs-12.col-sm-12.col-md-3.col-lg-3.padding-col-0
                  .form-group.has-feedback(ng-class="{'has-success': send.form.idp, 'has-error': send.form.idp==undefined}")
                    select.form-control(ng-model="send.form.idp",required,ng-disabled="Load")  
                      option(value="V",ng-selected="true") V
                      option(value="E") E
                      option(value="P") P
                      option(value="R") R
                    span.glyphicon.glyphicon-ok.form-control-feedback(ng-show="send.form.idp")
                    span.glyphicon.glyphicon-remove.form-control-feedback(ng-show="send.form.idp==undefined",title="No se ha seleccionado ninguna opcion")
                .col-xs-12.col-sm-12.col-md-9.col-lg-9.padding-col-0
                  .form-group.has-feedback(ng-class="{'has-success': send.form.documentt, 'has-error': send.form.documentt==undefined}")
                    input.form-control(type="text",placeholder="Numero de Identificacion",ng-model="send.form.documentt",pattern="[0-9]{6,}",required,ng-disabled="Load")
                    span.glyphicon.glyphicon-ok.form-control-feedback(ng-show="send.form.documentt")
                    span.glyphicon.glyphicon-remove.form-control-feedback(ng-show="send.form.documentt==undefined",title="Formato Invalido, Minimo 6 Caracteres")      
              .col-xs-12.col-sm-12.col-md-12.col-lg-12.padding-col-0
                .form-group.has-feedback(ng-class="{'has-success': send.form.dob, 'has-error': send.form.dob==undefined}")
                  label.pull-left.black
                    i.fa.fa-calendar.fa-fw.black
                    | &nbsp;
                    | Fecha de Nacimiento
                  input.form-control(type="text",placeholder="Fecha de Nacimiento",ng-model="send.form.dob",date-picker="",required,ng-disabled="Load")
                  span.glyphicon.glyphicon-ok.form-control-feedback(ng-show="send.form.dob")
                  span.glyphicon.glyphicon-remove.form-control-feedback(ng-show="send.form.dob==undefined")      
            .col-md-6
              .col-xs-12.col-sm-12.col-md-12.col-lg-12.padding-col-0
                .form-group.has-feedback(ng-class="{'has-success': send.form.password, 'has-error': send.form.password==undefined}")
                  label.pull-left.black
                    i.fa.fa-lock.fa-fw.black
                    | &nbsp;
                    | Contraseña
                  input.form-control(type="password",placeholder="Contraseña",ng-model="send.form.password",required,ng-disabled="Load",pattern=".{8,}")
                  span.glyphicon.glyphicon-ok.form-control-feedback(ng-show="send.form.password")
                  span.glyphicon.glyphicon-remove.form-control-feedback(ng-show="send.form.password==undefined",title="Por favor introduce un email válido")
              .col-xs-12.col-sm-12.col-md-12.col-lg-12.padding-col-0
                .form-group.has-feedback(ng-class="{'has-success': send.form.lastname, 'has-error': send.form.lastname==undefined}")
                  label.pull-left.black
                    i.fa.fa-user.fa-fw.black
                    | &nbsp;
                    | Apellido
                  input.form-control(type="text",placeholder="Apellido",ng-model="send.form.lastname",pattern="[A-Za-z ]{1,}",ng-click="send.validation(name)",required,ng-disabled="Load")
                  span.glyphicon.glyphicon-ok.form-control-feedback(ng-show="send.form.lastname")
                  span.glyphicon.glyphicon-remove.form-control-feedback(ng-show="send.form.lastname==undefined",title="Formato Invalido, Minimo un Caracter")
              .col-xs-12.col-sm-12.col-md-12.col-lg-12.padding-col-0
                .form-group.has-feedback(ng-class="{'has-success': send.form.address, 'has-error': send.form.address==undefined}")
                  label.pull-left.black
                    i.fa.fa-map-marker.fa-fw.black
                    | &nbsp;
                    | Direccion
                  input.form-control(type="text",placeholder="Direccion",ng-model="send.form.address",required,pattern=".{10,}",ng-disabled="Load")
                  span.glyphicon.glyphicon-ok.form-control-feedback(ng-show="send.form.address")
                  span.glyphicon.glyphicon-remove.form-control-feedback(ng-show="send.form.address==undefined",title="Formato Invalido. Minimo 10 Caracteres")
              .col-xs-12.col-sm-12.col-md-12.col-lg-12.padding-col-0
                .form-group.has-feedback(ng-class="{'has-success': send.form.gender, 'has-error': send.form.gender==undefined}")
                  label.pull-left.black
                    i.fa.fa-venus-mars.fa-fw.black
                    | &nbsp;
                    | Genero
                  select.form-control(ng-model="send.form.gender",required,ng-disabled="Load")
                    option(value="false",ng-disabled="true",ng-selected="true") Genero
                    option(value="1") Masculino
                    option(value="2") Femenino 
                  span.glyphicon.glyphicon-ok.form-control-feedback(ng-show="send.form.gender")
                  span.glyphicon.glyphicon-remove.form-control-feedback(ng-show="send.form.gender==undefined")
              .col-xs-12.col-sm-12.col-md-12.col-lg-12.padding-col-0
                .form-group
                  locality-picker(model='send.form.localities')
            .col-md-12
              .text-center
                button.btn.btn-default.border-radius-0(type="reset",ng-disabled="Load") Limpiar
                button#Register.btn.btn-primary.border-radius-0(type="submit",ng-disabled="Load",data-loading-text="Loading...") Listo
      .modal-body.text-center(ng-if="!options")
        form(ng-submit="send.register()")
          div(style="position: relative")
            button.btn.btn-primary-custom.img-circle.drop-box(type="button",title="Agrega un Foto de Perfil",ngf-select,ng-model='send.form.photo',ngf-accept="'image/png,image/jpeg'",ngf-pattern="'image/png,image/jpeg'") 
              i.fa.fa-picture-o.fa-fw
            button.btn.btn-primary-custom.img-circle.drop-box(type="button",title="Eliminar Foto de Perfil",ng-show="send.form.photo.name",ng-click="send.form.photo = {}") 
              i.fa.fa-remove.fa-fw  
            img.margin-center.img-responsive.img-circle(ng-hide="send.form.photo.name",ng-src="http://50.21.179.35:8083/bill-ok.png",alt="bill-ok",width="200px",height="200px")
            img.margin-center.img-responsive.img-circle(ngf-src="send.form.photo",alt="photo-ok",width="200px",height="200px",style="min-height: 180px;max-height: 180px;max-width: 200px;min-width: 200px;object-fit: contain;")
          h2.black Registrate
          br
          p.text-center.black.t20 Completa el Formulario para Registrarte 
          .center-block.row
            .col-md-12.row
              .col-xs-12.col-sm-12.col-md-12.col-lg-12
                .col-xs-12.col-sm-12.col-md-6.col-lg-6
                  .form-group.has-feedback(ng-class="{'has-success': send.form.name, 'has-error': send.form.name==undefined}")
                    label.pull-left.black
                      i.fa.fa-user.fa-fw.black
                      | &nbsp;
                      | Nombre
                    input.form-control(type="text",placeholder="Nombre",ng-model="send.form.name",ng-click="send.validation(name)",pattern="[A-zÀ-ž ]{1,}",required,ng-disabled="Load")
                    span.glyphicon.glyphicon-ok.form-control-feedback(ng-show="send.form.name")
                    span.glyphicon.glyphicon-remove.form-control-feedback(ng-show="send.form.name==undefined",title="Formato Invalido")
                    small.help-block.text-left(ng-show="send.form.name==undefined") Por favor introduce un valor
                .col-xs-12.col-sm-12.col-md-6.col-lg-6
                  .form-group.has-feedback(ng-class="{'has-success': send.form.lastname, 'has-error': send.form.lastname==undefined}")
                    label.pull-left.black
                      i.fa.fa-user.fa-fw.black
                      | &nbsp;
                      | Apellido
                    input.form-control(type="text",placeholder="Apellido",ng-model="send.form.lastname",ng-click="send.validation(name)",pattern="[A-zÀ-ž ]{1,}",required,ng-disabled="Load")
                    span.glyphicon.glyphicon-ok.form-control-feedback(ng-show="send.form.lastname")
                    span.glyphicon.glyphicon-remove.form-control-feedback(ng-show="send.form.lastname==undefined",title="Formato Invalido")
                    small.help-block.text-left(ng-show="send.form.lastname==undefined") Por favor introduce un valor
                .col-xs-12.col-sm-12.col-md-6.col-lg-6
                  .form-group.has-feedback(ng-class="{'has-success': send.form.mail, 'has-error': send.form.mail==undefined}")
                    label.pull-left.black
                      i.fa.fa-user.fa-fw.black
                      | &nbsp;
                      | Correo Electronico
                    input.form-control(type="email",placeholder="Email",ng-model="send.form.mail",required,ng-disabled="Load")
                    span.glyphicon.glyphicon-ok.form-control-feedback(ng-show="send.form.mail")
                    span.glyphicon.glyphicon-remove.form-control-feedback(ng-show="send.form.mail==undefined",title="Por favor introduce un email válido")
                .col-xs-12.col-sm-12.col-md-6.col-lg-6
                  .form-group.has-feedback(ng-class="{'has-success': send.form.password, 'has-error': send.form.password==undefined}")
                    label.pull-left.black
                      i.fa.fa-lock.fa-fw.black
                      | &nbsp;
                      | Contraseña
                    input.form-control(type="password",placeholder="Contraseña",ng-model="send.form.password",required,ng-disabled="Load",pattern=".{8,}")
                    span.glyphicon.glyphicon-ok.form-control-feedback(ng-show="send.form.password")
                    span.glyphicon.glyphicon-remove.form-control-feedback(ng-show="send.form.password==undefined",title="Por favor introduce un email válido")
              .col-xs-12.col-sm-12.col-md-12.col-lg-12
                .col-xs-12.col-sm-12.col-md-12.col-lg-12
                  label.pull-left.black
                    i.fa.fa-id-card-o.fa-fw.black
                    | &nbsp;
                    | Indentificacion
                .col-xs-12.col-sm-12.col-md-2.col-lg-2  
                  .form-group.has-feedback(ng-class="{'has-success': send.form.idp, 'has-error': send.form.idp==undefined}")
                    select.form-control(ng-model="send.form.idp",required,ng-disabled="Load")  
                      option(value="V",ng-selected="true") V
                      option(value="E") E
                      option(value="P") P
                      option(value="R") R
                    span.glyphicon.glyphicon-ok.form-control-feedback(ng-show="send.form.idp")
                    span.glyphicon.glyphicon-remove.form-control-feedback(ng-show="send.form.idp==undefined",title="No se ha seleccionado ninguna opcion")
                .col-xs-12.col-sm-12.col-md-10.col-lg-10
                  .form-group.has-feedback(ng-class="{'has-success': send.form.documentt, 'has-error': send.form.documentt==undefined}")
                    input.form-control(type="text",placeholder="Ingresa el numero de documento...",ng-model="send.form.documentt",pattern="[0-9]{1,}",required,ng-disabled="Load")
                    span.glyphicon.glyphicon-ok.form-control-feedback(ng-show="send.form.documentt")
                    span.glyphicon.glyphicon-remove.form-control-feedback(ng-show="send.form.documentt==undefined",title="Formato Invalido")
                    small.help-block.text-left(ng-show="send.form.documentt==undefined") Por favor introduce un valor
                .col-xs-12.col-sm-12.col-md-6.col-lg-6
                  .form-group.has-feedback(ng-class="{'has-success': send.form.dob, 'has-error': send.form.dob==undefined}")
                    label.pull-left.black
                      i.fa.fa-calendar.fa-fw.black
                      | &nbsp;
                      | Fecha de Nacimiento
                    input.form-control(type="text",placeholder="Fecha de Nacimiento",ng-model="send.form.dob",date-picker="",required,ng-disabled="Load")
                    span.glyphicon.glyphicon-ok.form-control-feedback(ng-show="send.form.dob")
                    span.glyphicon.glyphicon-remove.form-control-feedback(ng-show="send.form.dob==undefined")
                .col-xs-12.col-sm-12.col-md-6.col-lg-6
                  .form-group.has-feedback(ng-class="{'has-success': send.form.gender, 'has-error': send.form.gender==undefined}")
                    label.pull-left.black
                      i.fa.fa-venus-mars.fa-fw.black
                      | &nbsp;
                      | Genero
                    select.form-control(ng-model="send.form.gender",required,ng-disabled="Load")
                      option(value="false",ng-disabled="true",ng-selected="true") Genero
                      option(value="1") Masculino
                      option(value="2") Femenino 
                    span.glyphicon.glyphicon-ok.form-control-feedback(ng-show="send.form.gender")
                    span.glyphicon.glyphicon-remove.form-control-feedback(ng-show="send.form.gender==undefined")
              .col-xs-12.col-sm-12.col-md-12.col-lg-12
                .col-xs-12.col-sm-12.col-md-12.col-lg-12
                  label.pull-left.black
                    i.fa.fa-industry.fa-fw.black
                    | &nbsp;
                    | Nombre de la Empresa
                .col-xs-12.col-sm-6.col-md-6.col-lg-6(style="margin-bottom: 0px;")    
                  .form-group.has-feedback(ng-class="{'has-success': send.form.username, 'has-error': send.form.username==undefined}")
                    input.form-control(type="text",placeholder="Nombre de la Empresa...",ng-model="send.form.username",required,ng-disabled="Load")
                    span.glyphicon.glyphicon-ok.form-control-feedback(ng-show="send.form.username")
                    span.glyphicon.glyphicon-remove.form-control-feedback(ng-show="send.form.username==undefined",title="Formato Invalido")
                    small.help-block.text-left(ng-show="send.form.username==undefined") Por favor introduce un valor  
                .col-xs-12.col-sm-6.col-md-6.col-lg-6(style="margin-bottom: 0px;")  
                  .form-group.has-feedback
                    select.form-control
                      option(value="false",ng-selected="true",ng-disabled="true") Area de tu Empresa
              .col-xs-12.col-sm-12.col-md-12.col-lg-12
                .col-xs-12.col-sm-12.col-md-12.col-lg-12
                  .form-group.has-feedback(ng-class="{'has-success': send.form.phone, 'has-error': send.form.phone==undefined}")
                    label.pull-left.black
                      i.fa.fa-phone.fa-fw.black
                      | &nbsp;
                      | Telefono
                    input.form-control(type="tel",placeholder="Ingrese un numero de telefono...",ng-model="send.form.phone",pattern="[0-9]{1,}",required,ng-disabled="Load")
                    span.glyphicon.glyphicon-ok.form-control-feedback(ng-show="send.form.phone")
                    span.glyphicon.glyphicon-remove.form-control-feedback(ng-show="send.form.phone==undefined",title="Formato Invalido")
                    small.help-block.text-left(ng-show="send.form.phone==undefined") Por favor introduce un valor  
              .col-xs-12.col-sm-12.col-md-12.col-lg-12
                .col-xs-12.col-sm-12.col-md-12.col-lg-12
                  div(style="display: table;")
                    label.pull-left.black
                      i.fa.fa-map-marker.fa-fw.black
                      | &nbsp;
                      | Ubicacion...
                  locality-picker(model='send.form.localities')
                  .form-group.has-feedback(ng-class="{'has-success': send.form.address, 'has-error': send.form.address==undefined}")
                    textarea.form-control(placeholder="Direccion...",rows="6",style="overflow:auto;overflow-x:hidden;",ng-model="send.form.address",required,ng-disabled="Load")
                    span.glyphicon.glyphicon-ok.form-control-feedback(ng-show="send.form.address")
                    span.glyphicon.glyphicon-remove.form-control-feedback(ng-show="send.form.address==undefined",title="Formato Invalido")
                    small.help-block.text-left(ng-show="send.form.address==undefined") Por favor introduce un valor
            .col-md-12
              .text-center
                button.btn.btn-default.border-radius-0(type="reset",ng-disabled="Load") Limpiar
                button#RegisterBusinnes.btn.btn-primary.border-radius-0(type="submit",ng-disabled="Load",data-loading-text="Loading...") Listo
#ForgotPassword.modal.fade(tabindex="-1",role="dialog",aria-labelledby="ForgotPassword")
  .modal-dialog.modal-lg(role="document")
    .modal-content
      .modal-header
        button.close(type="button",data-dismiss="modal",aria-label="Close")
          span.black(aria-hidden="true") &times;
      .modal-body.text-center
        img.margin-center.img-responsive(ng-src="http://50.21.179.35:8083/bill-ok.png",alt="bill-ok",width="200px",height="200px")
        h2.black Recuperar Contraseña
        br
        .center-block.row
          .col-md-6.col-md-offset-3.padding-col-0
            form(ng-submit="send.forgotpassword()")
              .form-group.has-feedback(ng-class="{'has-success': send.form.mail, 'has-error': send.form.mail==undefined}")
                input.form-control(type="email",placeholder="Seudonimo / Correo",ng-model="send.form.mail",required="")
                span.glyphicon.glyphicon-ok.form-control-feedback(ng-show="send.form.mail")
                span.glyphicon.glyphicon-remove.form-control-feedback(ng-show="send.form.mail==undefined",title="Por favor introduce un email válido")
              .text-center
                button#Forgot.btn.btn-primary.btn-block(type="submit",data-loading-text="Loading...") Recuperar
      .modal-footer
        .center-block.text-center
          | Apreciodepana, C.A. J-405824794 Táchira - Venezuela 
          br
          | Telefonos: (0276) 356.91.60 / (0276) 348.92.17 Email:contacto@apreciodepana.com	
#Contact.modal.fade(tabindex="-1",role="dialog",aria-labelledby="Contact")
  .modal-dialog.modal-lg(role="document")
    .modal-content
      .modal-header
        button.close(type="button",data-dismiss="modal",aria-label="Close")
          span.black(aria-hidden="true") &times;
      .modal-body.text-center
        img.margin-center.img-responsive(ng-src="http://50.21.179.35:8083/icono_contacto.png",alt="bill-ok",width="200px",height="200px")
        h2.black Contáctanos
        br
        .center-block.row
          .col-md-6.col-md-offset-3
            form(ng-submit="send.contact()")
              .form-group.has-feedback(ng-class="{'has-success': send.form.name, 'has-error': send.form.name==undefined}")
                input.form-control(type="text",placeholder="Nombre",ng-model="send.form.name",pattern="[A-Za-z]{1,}",ng-click="send.validation(name)",required="")
                span.glyphicon.glyphicon-ok.form-control-feedback(ng-show="send.form.name")
                span.glyphicon.glyphicon-remove.form-control-feedback(ng-show="send.form.name==undefined")
              .form-group.has-feedback(ng-class="{'has-success': send.form.mail, 'has-error': send.form.mail==undefined}")
                input.form-control(type="email",placeholder="Email",ng-model="send.form.mail",required="")
                span.glyphicon.glyphicon-ok.form-control-feedback(ng-show="send.form.mail")
                span.glyphicon.glyphicon-remove.form-control-feedback(ng-show="send.form.mail==undefined",title="Por favor introduce un email válido")
              .form-group.has-feedback(ng-class="{'has-success': send.form.msj, 'has-error': send.form.msj==undefined}")
                textarea.form-control(rows="6",placeholder="Mensaje",ng-model="send.form.body",required="")
                span.glyphicon.glyphicon-ok.form-control-feedback(ng-show="send.form.msj")
                span.glyphicon.glyphicon-remove.form-control-feedback(ng-show="send.form.msj==undefined")
              .text-center
                button.btn.btn-default.border-radius-0(type="reset") Limpiar
                button.btn.btn-primary.border-radius-0(type="submit") Listo
      .modal-footer
        .center-block.text-center
          | Apreciodepana, C.A. J-405824794 Táchira - Venezuela 
          br
          | Telefonos: (0276) 356.91.60 / (0276) 348.92.17 Email:contacto@apreciodepana.com
#LoginResponsive.modal.fade(tabindex="-1",role="dialog",aria-labelledby="SignUp")
  .modal-dialog.modal-lg(role="document")
    .modal-content
      .modal-header
        button.close(type="button",data-dismiss="modal",aria-label="Close")
          span.black(aria-hidden="true") &times;
      .modal-body.text-center
        img.margin-center.img-responsive(ng-src="http://50.21.179.35:8083/bill-ok.png",alt="bill-ok",width="200px",height="200px")
        h2.black Iniciar Sesión
        br
        .text-center.row
          .col-md-8.col-md-offset-2
            form(ng-submit="send.login()")
              .form-group.has-feedback
                input.form-control(type="text",placeholder="Seudonimo / Correo",ng-model="send.form.mail",autocorrect="off",autocomplete="on",autocapitalize="none",spellcheck="false")
                span.glyphicon.glyphicon-ok.form-control-feedback(ng-show="send.form.mail")
                span.glyphicon.glyphicon-remove.form-control-feedback(ng-show="send.form.mail==undefined",title="Formato Invalido")
              .form-group.has-feedback
                input.form-control(type="password",placeholder="Contraseña",ng-model="send.form.password")
                span.glyphicon.glyphicon-ok.form-control-feedback(ng-show="send.form.password")
                span.glyphicon.glyphicon-remove.form-control-feedback(ng-show="send.form.password==undefined",title="Formato Invalido")
              .form-group.has-feedback
                a#ForgotPasswordLink(role="button",data-toggle="modal",data-target="#ForgotPassword") ¿Olvidaste la Contraseña? 
              button#Login.btn.btn-group-justified.btn-login(type="submit",data-loading-text="Loading...") Ingresa 
              br
              button.btn.btn-group-justified.btn-facebook(type="submit",ng-click="authNetwork(true)") Ingresa con Facebook
              button.btn.btn-group-justified.btn-twitter(type="submit",ng-click="authNetwork(false)") Ingresa con Twitter              
