.row(style="padding-left: 36px;padding-right: 36px;")
  .col-lg-12.col-md-12.col-sm-12.col-xs-12.content-shadow-border
    .col-xs-12.col-sm-12.col-md-5.col-lg-5
      h3.margin-0.black 
        i.fa.fa-tags.black
        |  Publicaciones Favoritas
    .col-xs-12.col-sm-12.col-md-7.col-lg-7.hidden-xs
        .col-md-3.col-lg-3.padding-col-0.text-right
          .btn-group
            button.btn.btn-default
              i.fa.fa-list
            button.btn.btn-default
              i.fa.fa-th-large
        .col-md-6.col-lg-6.padding-col-0
          form(ng-submit="send.search()")
            .input-group
              input.form-control(type="text",placeholder="Buscar",ng-model="send.form.search")
              span.input-group-btn
                button.btn.btn-default(type="submit")
                  i.glyphicon.glyphicon-search
        .col-md-3.col-lg-3
          select.form-control(style="max-width: 150px;display:inline-block",ng-model="send.form.sort",ng-change="send.filter()")
            option(value="-1",ng-selected="true") Más Recientes
            option(value="1") Menos Recientes
    .col-xs-12.col-sm-12.col-md-8.col-lg-8.padding-col-0.hidden-lg.hidden-md.hidden-sm
        .col-xs-6
          form(ng-submit="send.search()")
            .input-group
              input.form-control(type="text",placeholder="Buscar",ng-model="send.form.search")
              span.input-group-btn
                button.btn.btn-default(type="submit")
                  i.glyphicon.glyphicon-search
        .col-xs-3
          select.form-control(style="max-width: 150px;display:inline-block",ng-model="send.form.sort",ng-change="send.filter()")
            option(value="-1",ng-selected="true") Más Recientes
            option(value="1") Menos Recientes
        .col-xs-3.text-right
          .btn-group
            button.btn.btn-default
              i.fa.fa-list
            button.btn.btn-default
              i.fa.fa-th-large
.row(style="padding-left: 36px;padding-right: 36px;")
  .col-md-12
    .content-publication.row(ng-repeat="collections in likes.items",ng-if="collection.publication.state!=1")
      .col-xs-12.col-sm-3.col-md-2.col-lg-2
        .framework-img.text-center
          .condicion-title-float
            span(ng-if="collections.publication.status") Nuevo 
            span(ng-if="!collections.publication.status") Usado
          a(ui-sref="base.publication({id: collections.publication._id})")
            img(ng-src="http://50.21.179.35:8083/{{collections.publication.photos[0]}}",width="100%",height="100%",alt="framework-img")
      .col-xs-6.col-sm-5.col-md-5.col-lg-5
        p.details-publications
          span.title
            a
              b {{collections.publication.name}}
          br
          span.shop 
            a
              b  {{collections.user.username}}
          br
          span.user {{collections.user.name}}
          br
          span.city(ng-if="collections.user.localities[0]")
            i.fa.fa-map-marker.fa-fw.t12.grisC
            | {{collections.user.localities[0].name}}
          span.city(ng-if="collections.user.localities[1]")
            i.fa.fa-map-marker.fa-fw.t12.grisC
            | {{collections.user.localities[1].name}}
          br
          span.review.hidden-xs
            i.fa.fa-eye.negro.opacity.fa-fw(style="")
            span(ng-if="collections.publication.views>0") {{collections.publication.views}} Visitas
            span(ng-if="collections.publication.views<1") 0 Visitas
            | &nbsp;
            i.fa.fa-shopping-cart.fa-fw.negro.opacity
            span(ng-if="collections.publication.transactions>0") {{collections.publication.transactions}} Ventas
            span(ng-if="collections.publication.transactions<1") 0 Ventas
            | &nbsp;
      .col-xs-6.col-sm-4.col-md-5.col-lg-5.text-right.padding-col-0
        div.details-publications2
          span.price.red
            b.pull-right
              | Bs {{collections.publication.price}}
              sup 00
            br
            div.text-right
              button.btn.btn-send.hidden-xs(type="button",ui-sref="base.publication({id: collections.publication._id})") Ver
              br
              span.times 
                time-ago(from-time="{{collections.publication.startdate}}")
                //- i.glyphicon.glyphicon-time.opacity
                span
                  br
                  div(style="margin-top: 0px;")
                    div.like
                      btn-like(like="collections.publication.favorites",id="collections.publication._id",change="recharge()")
      .col-xs-12.hidden-lg.hidden-md.hidden-sm.text-center
        span.review(ng-if="!collections.username") 
          i.fa.fa-eye.negro.opacity.fa-fw(style="")
          span(ng-if="collections.publication.views>0") {{collections.publication.views}} Visitas
          span(ng-if="collections.publication.views<1") 0 Visitas
          | &nbsp;
          i.fa.fa-shopping-cart.fa-fw.negro.opacity
          span(ng-if="collections.publication.transactions>0") {{collections.publication.transactions}} Ventas
          span(ng-if="collections.publication.transactions<1") 0 Ventas
          | &nbsp;
          br
          br
      .col-xs-12.hidden-lg.hidden-md.hidden-sm
        button.btn.btn-primary.btn-send.btn-block(type="button",ng-if="!collections.username",ui-sref="base.publication({id: collections.publication._id})") Ver
      .col-xs-12.col-sm-6.col-md-2.col-lg-2
      .col-xs-12.col-sm-12.col-md-12.col-lg-10.pull-right
        .line-horizontal
    .col-md-12(ng-if="likes.total===0")
      .alert.alert-warning.text-center(role="alert")
        i.fa.fa-info-circle.fa-fw
        | {{$parent.info.username}} aun no tiene publicaciones favoritas.
    .col-xs-12.col-sm-12.col-md-12.col-lg-12.text-center(ng-show="flag")
      ul(uib-pagination,total-items="total",ng-model="currentPage",items-per-page="limit",max-size="5",ng-change="pageChanged()",num-pages="num",class="pagination-sm",boundary-link-numbers="true",rotate="false")    
