#summary
  h4.title 
    span.black Resumen
  hr
  .row
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      .subtitle.black
        i.fa.fa-comment.fa-fw.black
        | Preguntas
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      hr
      .item
        span
          span.badge.badge-publicar {{toanswer.total}}
          a(ui-sref="sales.question")
            span Preguntas sin responder
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      hr
      .item
        span
          span.badge.badge-publicar  {{answered.total}}
          a(ui-sref="purchases.question")
            span Tus preguntas
    .col-xs-12.col-sm-12.col-md-12.col-lg-12.interline
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      .subtitle.black
        i.fa.fa-tags.fa-fw.black
        | Publicaciones
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      hr
      .item
        span
          span.badge.badge-publicar  {{publiActive.total}}
          a(ui-sref="sales.publications({state: 'enabled',page: 1})")
            span Activa
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      hr
      .item
        span
          span.badge.badge-publicar {{publiPaused.total}}
          a(ui-sref="sales.publications({state: 'paused',page: 1})")
            span Pausadas
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      hr
      .item
        span
          span.badge.badge-publicar  {{publiEnded.total}}
          a(ui-sref="sales.publications({state: 'ended',page: 1})")
            span Finalizadas
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      hr
      .item
        span
          span.badge.badge-publicar {{publiShared.total}}
          a(ui-sref="managerNetwork.publicationAuto({state: 'enabled',page: 1})")
            span Compartidas
    .col-xs-12.col-sm-12.col-md-12.col-lg-12.interline
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      .subtitle.black
        i.fa.fa-tag.fa-fw.black
        | Ventas
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      hr
      .item
        span
          span.badge.badge-publicar  {{activesSales.total}}
          a(ui-sref="sales.sales({state: 'enabled',page: 1})")
            span Ventas sin concretar
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      hr
      .item
        span
          span.badge.badge-publicar {{completeSales.total}}
          a(ui-sref="sales.sales({state: 'complete',page: 1})")
            span Ventas Concretadas
    .col-xs-12.col-sm-12.col-md-12.col-lg-12.interline
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      .subtitle.black
        i.fa.fa-shopping-cart.fa-fw.black
        | Compras
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      hr
      .item
        span
          span.badge.badge-publicar  {{activePurchases.total}}
          a(ui-sref="purchases.purchases({state: 'enabled',page: 1})")
            span Compras sin concretar
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      hr
      .item
        span
          span.badge.badge-publicar {{completePurchases.total}}
          a(ui-sref="purchases.purchases({state: 'complete',page: 1})")
            span Compras Concretadas 
    .col-xs-12.col-sm-12.col-md-12.col-lg-12.interline
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      .subtitle.black
        i.fa.fa-bar-chart.fa-fw.black
        | Estadisticas de ventas
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      hr
      .tabs-item
        ul.nav.nav-tabs(role="tablist")
          li.active(role="presentation")
            a(href="#daily",aria-controls="daily",role="tab",data-toggle="tab") Diario
          li(role="presentation")
            a(href="#weekly",aria-controls="weekly",role="tab",data-toggle="tab") Semanal
          li(role="presentation")
            a(href="#monthly",aria-controls="monthly",role="tab",data-toggle="tab") Mensual
          li(role="presentation")
        br  
        .tab-content
          #daily.tab-pane.fade.active.in(role="tabpanel")
            .col-xs-12.col-sm-12.col-md-12.col-lg-12
              .item
                span
                  span.badge.badge-publicar-before  0
                  span Hoy
            .col-xs-12.col-sm-12.col-md-12.col-lg-12.interline
            .col-xs-12.col-sm-12.col-md-12.col-lg-12
              .item
                span
                  span.badge.badge-publicar-before  0
                  span Ayer
          #weekly.tab-pane.fade(role="tabpanel")
            .col-xs-12.col-sm-12.col-md-12.col-lg-12
              .item
                span
                  span.badge.badge-publicar-before  0
                  span Esta semana
            .col-xs-12.col-sm-12.col-md-12.col-lg-12.interline
            .col-xs-12.col-sm-12.col-md-12.col-lg-12
              .item
                span
                  span.badge.badge-publicar-before  0
                  span Semana pasada
          #monthly.tab-pane.fade(role="tabpanel")
            .col-xs-12.col-sm-12.col-md-12.col-lg-12
              .item
                span
                  span.badge.badge-publicar-before  0
                  span Este mes
            .col-xs-12.col-sm-12.col-md-12.col-lg-12.interline
            .col-xs-12.col-sm-12.col-md-12.col-lg-12
              .item
                span
                  span.badge.badge-publicar-before  0
                  span Mes pasado
